{{#*inline "content" }}
<section id="{{id}}" class="facility">
	<div class="inner inner--{{id}}">

		<div class="card card--0" data-open="{{id}}-video" style="background-image: url({{video.img.src}});">
			{{#with video}}
				<div class="video__cta">
					<span class="text">{{text}}</span><span class="play-button"></span>
				</div>
			{{/with}}
		</div>

		<div class="card card--1">
			{{#with content}}
				<h3>{{header}}</h3>
				<h2>{{subhead}}</h2>
				{{#if line}}<hr>{{/if}}
				<p class="card__paragraph">{{paragraph}}</p>
				<div class="trust-symbols">
					{{#each symbols}}
						<img src="{{src}}" alt="{{alt}}" />
					{{/each}}
				</div>
			{{/with}}
		</div>
	</div>{{!-- /.inner --}}

</section>

<div id="{{id}}-video" class="{{id}}__modal reveal" data-reveal data-reset-on-close="true">
	<iframe width="100%" height="415" data-src="{{video.src}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	<button class="close-button {{id}}__modal-close-button"
  	        data-close
  	        aria-label="close modal"
  	        type="button">
  	  <span aria-hidden>&times;</span>
  	</button>
</div>
{{/inline}}
{{> content id="billboard"}}