<div class="card
	{{#if id}} card--{{id}}{{/if}}
	{{#if index}} card--{{index}}{{else}} card--{{@index}}{{/if}}
	{{#if class}} {{class}}{{/if}}">
	<div class="card__inner">

	{{!-- Headers --}}
		{{#if h1}}<h1>{{h1}}</h1>{{/if}}
		{{#if h2}}<h2>{{h2}}</h2>{{/if}}
		{{#if h3}}<h3>{{h3}}</h3>{{/if}}
		{{#if h4}}<h4>{{h4}}</h4>{{/if}}
		{{#if h5}}<h5>{{h5}}</h5>{{/if}}

	{{!-- Subhead --}}
		{{#if subhead}}
			<h2 class="subhead">{{subhead}}</h2>
		{{/if}}

	{{!-- Phone --}}
		{{#if phone}}
			{{> phone}}
		{{/if}}

	{{!-- Line --}}
		{{#if line}}
			<hr>
		{{/if}}

	{{!-- Paragraph --}}
		{{#if paragraph}}
			<p class="card__paragraph">
				{{{paragraph}}}
			</p>
		{{/if}}

	{{!-- Paragraph Two --}}
		{{#if paragraph-two}}
			<p class="card__paragraph">
				{{paragraph-two}}
			</p>
		{{/if}}

	{{!-- Phone 2--}}
		{{#if phone2}}
			{{> phone}}
		{{/if}}


	{{!-- Button --}}
		{{#if button}}
			{{> button button}}
		{{/if}}


	{{!-- List --}}
		{{#if list}}
			<ul{{#if list-class}} class="{{list-class}}"{{/if}}>
				{{#each list}}
					<li{{#if item-class}} class="{{item-class}}"{{/if}}>
						{{item}}
					</li>
				{{/each}}
			</ul>
		{{/if}}

		


	</div>
</div>
