<section id="{{id}}" class="creds inverse">
	<div class="inner">
		
		{{#if intro}}
			{{#with intro}}
			<div class="section-intro">
				<h2>{{header}}</h2>
				<p>{{{paragraph}}}</p>
			</div>
			{{/with}}
		{{/if}}
		

		<div class="grid-x">
		  {{#each cards}}
		  <div class="card card--{{../id}} card--{{@index}}"
				data-open="{{../id}}-reveal-{{@index}}"
	      data-ga-event
	     	data-ga-category="{{../id}}"
	      data-ga-action="open modal">
		    <div class="card__inner">
		    	{{#ifequal title 'LegitScript'}}
		    		<div class="creds-symbol">
		    			<script src="https://static.legitscript.com/seals/3417923.js"></script>
		    		</div>
		    	{{else}}
		    	<div class="creds-symbol">
		    		<img class="creds-symbol-img img--{{symbol.alt}}" src="{{symbol.src}}" alt="{{symbol.alt}}" />
		    	</div>
		    	{{/ifequal}}
		    	<h4>{{title}}</h4>
		    	<span class="cred-button"><span class="text">More Info</span>{{> icon svg="location-plus"}}</span>
		    </div>{{!-- /.card__inner --}}
		  </div>{{!-- /.card --}}
		  {{/each}}
		</div>{{!-- /.grid-x --}}

	</div>{{!-- /.inner --}}
</section>

{{!-- Reveal Modals --}}
{{#each cards}}
  <div class="{{../id}}__modal reveal" id="{{../id}}-reveal-{{@index}}" data-reveal>
    <div class="{{../id}}__modal-frame">
      <div class="{{../id}}__modal-content">
        {{!-- <img src="assets/img/{{img}}" /> --}}
        <button class="close-button {{../id}}__modal-close-button"
                data-close
                aria-label="close modal"
                type="button">
          <span aria-hidden>&times;</span>
        </button>
    		<h3>{{title}}</h3>
        <p>{{{paragraph}}}</p>
      </div>
    </div>
  </div>
{{/each}}





