<div class="cta cta--main">
	<div class="cta__inner">	
		<div class="card--cta card--cta--0">
			<h4>{{header}}</h4>
		</div>
		<div class="card--cta card--cta--1">
			<div class="card__inner">
				{{> phone}}
				{{!-- {{> vob-button text=button-text ga-label=vob-ga-label}} --}}
			</div>
		</div>
	</div>
</div>