{{!-- Duo Module --}}
<section id="{{id}}" class="duo
	{{#if class}} {{class}}{{/if}}">
		{{#if section-title}}
			<h2 class="section-title">{{section-title}}</h2>
		{{/if}}
	<div class="inner">
		{{!-- Card--0 --}}
		{{> card card }}
		
		{{!-- Card--1 --}}
		<div class="card card--1 card--media
		{{#ifequal card.class 'left'}} right{{else}} left
		{{/ifequal}}
		{{#ifequal media.type 'video'}} card--media--video{{/ifequal}}">
			{{#with media}}
				<div class="card__inner"
				{{#ifequal type 'image'}}
					style="background-image: url({{src}})"
				{{/ifequal}}
				{{#ifequal type 'video'}}
					data-open="{{../id}}--video"
					style="background-image: url({{src}})"
				{{/ifequal}}
				>
					{{#ifequal type 'video'}}
						<div class="video__cta">
							<span class="text">{{text}}</span><span class="play-button"></span>
						</div>
					{{/ifequal}}
				</div>{{!-- /.card__inner --}}
			{{/with}}
		</div>{{!-- /.card--1 --}}
	</div>{{!-- /.inner --}}
</section>

{{#ifequal media.type 'video'}}
	<div id="{{id}}--video" class="{{id}}__modal reveal" data-reveal data-reset-on-close="true">
		<iframe width="100%" height="415" data-src="{{media.video-src}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<button class="close-button {{id}}__modal-close-button"
		        data-close
		        aria-label="close modal"
		        type="button">
		  <span aria-hidden>&times;</span>
		</button>
	</div>
{{/ifequal}}