{{#*inline "content" }}
	<section id="{{id}}"{{#if class}} class="{{class}}"{{/if}}>
		<div class="inner inner--{{id}}">
			<div class="section-intro">
				<h2 class="section-title center">
					{{header}}
				</h2>
			</div>
			<div class="grid-x grid--{{id}}">
				
				<div class="card card--{{id}} card--0">
					<div class="show-for-medium">
						{{#if card.header}}
							<h3>{{card.header}}</h3>
						{{/if}}
						
						{{#if card.phone}}
							{{> phone}}
						{{/if}}
					</div>
					<p>{{{card.paragraph}}}</p>
				</div>{{!-- /.card--0 --}}

				<div class="card card--{{id}} card--1">
					<div class="grid-x insurance-grid xlarge-up-2 large-up-2 small-up-2 grid--{{id}}">
						{{#each symbols}}
							<div class="cell cell--{{../id}}">
								<img src="{{src}}" />
							</div>
						{{/each}}
					</div>{{!-- /.grid --}}
				</div>{{!-- /.card--1 --}}

				<div class="card card--{{id}} card--2 hide-for-medium">
					{{> cta cta }}
				</div>

			</div>{{!-- /.grid-x --}}
		</div>{{!-- /.inner --}}
  </section>
{{/inline}}

{{> content id="insurance"}}
