{{#*inline "content" }}
	<section id="{{id}}">
		<div class="inner inner--{{id}}">
			
			{{#ifequal layout 'sitelink'}}
				{{#with s-whychooseus.sections.creds}}
				  <div class="footer-creds grid-x">

				  	{{#each cards}}
					  	{{#ifequal title 'LegitScript'}}
					  		<div class="footer-symbol footer-symbol--{{@index}} symbol--legit">
					  			<script src="https://static.legitscript.com/seals/3417923.js"></script>
					  		</div>
					  	{{else}}
						  	<div class="footer-symbol footer-symbol--{{@index}}">
						  		<img class="footer-symbol-img img--{{symbol.alt}}" src="{{symbol.src}}" alt="{{symbol.alt}}" />
						  	</div>
					  	{{/ifequal}}
					  {{/each}}
				  </div>{{!-- /.grid-x --}}
				{{/with}}
			{{/ifequal}}

			<p class="footer__text">Copyright © 1995-2020 Foundations Recovery Network. All Rights Reserved. 
	 			<a href="https://www.foundationsrecoverynetwork.com/wp-content/plugins/frn_plugins/privacy-policy.pdf" class="button--privacy" target="_blank">Privacy Policy</a>
 			</p>
		</div>
  </section>
{{/inline}}

{{> content id="footer"}}