
{{#if top-bar}}
   <div id="nav">
      {{> component-notification}}
      {{!Scroll-Nav}}
      {{> scroll-nav}}

      {{!Top-Bar}}
      <div class="top-bar">

         <div class="top-bar-left top-bar-logo">

          {{#ifequal layout 'facilities'}}
            <a href="/lp/" class="back-arrow">
              {{> icon svg="backarrow"}}
            </a>
            <a href="/lp/" class="logo logo--icon link--nav">
                <img src="{{@root.site.logo.alt-img}}" class="alt-logo hide-for-xlarge" alt="{{text}}" />
                <img src="{{@root.site.logo.img}}" class="site-logo show-for-xlarge" alt="{{text}}" />
             </a>
          {{else}}
            <a href="#hero" class="logo logo--icon link--nav">
               <img src="{{@root.site.logo.alt-img}}" class="alt-logo show-for-medium hide-for-large" alt="{{text}}" />
               <img src="{{@root.site.logo.img}}" class="site-logo hide-for-medium-only" alt="{{text}}" />
            </a>
          {{/ifequal}}
         
         </div>{{!--/.top-bar-logo--}}



         <div class="top-bar-mid top-bar-menu facility--show-for-large">
            <ul class="menu" data-dropdown-menu >
                  {{#each top-bar.menu}}
                     <li class="menu-item menu-item-{{@index}}">
                        {{#if smalltext}}
                          <a href="{{href}}" class="link link--nav">
                            <span class="hide-for-xlarge">{{smalltext}}</span>
                            <span class="show-for-xlarge">{{text}}</span>
                          </a>
                        {{else}}
                          <a href="{{href}}" class="link link--nav">{{text}}</a>
                        {{/if}}
                     </li>
                  {{/each}}
            </ul>
         </div>{{!--/.top-bar-menu--}}

         <div class="top-bar-right top-bar-phone">
            <a href="tel:{{#unlesspage 'v-ad'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.verification-phone}}{{/ifpage}}"
              class="{{#unlesspage 'v-ad'}}InfinityNumber{{/unlesspage}} top-bar-phone__phone"
              data-ict-discovery-number="{{@roote.site.phone}}"
              data-ict-silent-replacements="false"
              data-ga-event
              data-ga-category="Phone Numbers"
              data-ga-action="Phone Clicks"
              data-ga-label="Header">
               {{!-- <span class="show-for-medium">Talk with us</span>
               {{> icon svg="phone" class="show-for-medium"}} --}}
               {{#unlesspage 'v-ad' 'talbott'}}{{@root.site.phone}}{{/unlesspage}}
               {{#ifpage 'v-ad'}}{{@root.site.verification-phone}}{{/ifpage}}
               {{#ifpage 'talbott'}}{{@root.site.talbott-phone}}{{/ifpage}}
            </a>
         </div>{{!--/.top-bar-right--}}

      </div>{{!--/.top-bar--}}
   </div>{{!--/#nav--}}
{{/if}}
