
<section id="{{id}}"{{#if class}} class="{{class}}"{{/if}}>
	<div class="inner inner--{{id}}">
		
		{{!-- Card--0  --}}
		<div class="card card--{{id}} card--0">
			
			{{!-- Modal Cards --}}
				<div class="card__inner card__inner--modal hide-for-large">
					{{#each cards}}
						<div class="highlight highlight--{{@index}}"
							data-open="{{../id}}-reveal-{{@index}}"
			        data-ga-event
			       	data-ga-category="{{../id}}"
			        data-ga-action="open modal">
							{{#if h3}}<h3>{{h3}}</h3>{{/if}}
							<span class="hov-text show-for-large">Learn more +</span>
						</div>
					{{/each}}
				</div>
			
			{{!-- Tab Cards --}}
				<div id="{{id}}-tabs" class="card__inner card__inner--tabs show-for-large" data-tabs>
					{{#each cards}}
						<div class="tabs-title highlight highlight--{{@index}}{{#if @first}} is-active{{/if}}">
							<a href="#{{../id}}-panel-{{@index}}">
								{{#if h3}}<h3>{{h3}}</h3>{{/if}}
								<span class="hov-text show-for-large">Learn more +</span>
							</a>
						</div>
					{{/each}}
				</div>{{!-- /.card__inner--tabs --}}
		</div>{{!-- /.card--0 --}}

		{{!-- Card--1  --}}
		<div class="card card--1 show-for-large"> 
			<div class="tabs-content" data-tabs-content="{{id}}-tabs">
				{{#each cards}}
					<div class="tabs-panel{{#if @first}} is-active{{/if}}" id="{{../id}}-panel-{{@index}}">
						<h3>{{h3}}</h3>
						{{#if subhead}}<h2>{{subhead}}</h2>{{/if}}
						<hr>
				    <p>{{paragraph}}</p>
				  </div>
				{{/each}}
			</div>
		</div>{{!-- /.card--1 --}}

	</div>{{!-- /.inner --}}
</section>{{!-- /section --}}


{{!-- Reveal Modals --}}
{{#each cards}}
  <div class="{{../id}}__modal reveal" id="{{../id}}-reveal-{{@index}}" data-reveal>
    <div class="{{../id}}__modal-frame">
      <div class="{{../id}}__modal-content">
        {{!-- <img src="assets/img/{{img}}" /> --}}
        <button class="close-button {{../id}}__modal-close-button"
                data-close
                aria-label="close modal"
                type="button">
          <span aria-hidden>&times;</span>
        </button>
    		<h3>{{h3}}</h3>
        <p>{{paragraph}}</p>
      </div>
    </div>
  </div>
{{/each}}
