<div class="card card--icon card--{{id}} card--{{@index}}">
	<div class="card__inner">

	{{!-- Icon --}}
		{{#if img}}
			<img src="assets/img/{{img}}" />
		{{/if}}


	{{!-- Headers --}}
		{{#if h1}}<h1>{{h1}}</h1>{{/if}}
		{{#if h2}}<h2>{{h2}}</h2>{{/if}}
		{{#if h3}}<h3>{{h3}}</h3>{{/if}}
		{{#if h4}}<h4>{{h4}}</h4>{{/if}}
		{{#if h5}}<h5>{{h5}}</h5>{{/if}}


	{{!-- Paragraph --}}
		{{#if paragraph}}
			<p class="card__paragraph">
				{{paragraph}}
			</p>
		{{/if}}

	{{!-- List --}}
		{{#if list}}
			<ul>
				{{#each list}}
						<li>{{this}}</li>
				{{/each}}
			</ul>
		{{/if}}


	{{!-- Button --}}
		{{#if button}}
			{{> button href="." text="whats up"}}
		{{/if}}


	</div>
</div>
