
<section id="{{id}}" {{#if class}} class="{{class}}"{{/if}}>
	<div class="inner inner--{{id}}">
		{{#if header}}
		<h2 class="section-title center">
			{{header}}
		</h2>
		{{/if}}

		<div class="grid-x grid-x--{{id}}">
			<div class="card card--{{id}} card--0">
				{{#if card.heading}}
					<h2>
						{{{card.heading}}}
					</h2>
				{{/if}}
				<p>
					{{{card.paragraph}}}
				</p>
			</div>{{!-- /.card--0 --}}
			<div class="card card--{{id}} card--1">
					<div class="grid-x xlarge-up-2 large-up-2 small-up-2 grid--{{id}}">
						{{#each symbols}}
							<div class="cell cell--{{../id}}">
								<img src="{{src}}" />
							</div>
						{{/each}}
					</div>{{!-- /.grid --}}
			</div>{{!-- /.card--1 --}}
		</div>{{!-- /.grid --}}

		{{> cta cta }}

	</div>{{!-- /.inner --}}
</section>