<section id="{{id}}" class="section-list">
	<div class="inner inner--section-list">
	{{!-- Headers --}}
		{{#if h1}}<h1 class="section-title{{#if class}} {{class}}{{/if}}">{{h1}}</h1>{{/if}}
		{{#if h2}}<h2 class="section-title{{#if class}} {{class}}{{/if}}">{{h2}}</h2>{{/if}}
		{{#if h3}}<h3 class="section-title{{#if class}} {{class}}{{/if}}">{{h3}}</h3>{{/if}}
		{{#if h4}}<h4 class="section-title{{#if class}} {{class}}{{/if}}">{{h4}}</h4>{{/if}}
		{{#if h5}}<h5 class="section-title{{#if class}} {{class}}{{/if}}">{{h5}}</h5>{{/if}}

		
		{{#if list}}
			<ul class="accordion" data-accordion data-allow-all-closed="true">
				{{#each list}}

					{{#if accordion}}
						<li class="item accordion-item" data-accordion-item>
							<a class="accordion-title">{{item}}</a>
							<ul class="accordion-content" data-tab-content>
								{{#each list}}
									<li class="sub-item">{{item}}</li>
								{{/each}}
							</ul>
						</li>
					{{else}}
						<li class="item">{{item}}</li>
					{{/if}}

				{{/each}}
			</ul>
		{{/if}}



		{{!-- List --}}
		<div class="grid">
			{{#each big-list}}
				<div class="big-list big-list--{{@index}}">				
						<ul class="accordion" data-accordion data-allow-all-closed="true">
							{{#each list}}
								{{#if accordion}}
									<li class="item accordion-item" data-accordion-item>
										<a class="accordion-title">{{item}}</a>
										<ul class="accordion-content" data-tab-content>
											{{#each list}}
												<li class="sub-item">{{item}}</li>
											{{/each}}
										</ul>
									</li>
								{{else}}
									<li class="item">{{item}}</li>
								{{/if}}
							{{/each}}
						</ul>
				</div>
			{{/each}}
		</div>{{!-- /.grid --}}

	</div>{{!-- /.inner --}}
</section>