	<section id="{{id}}">
		<div class="inner inner--{{id}}">		
			

			{{#if intro}}
				{{!-- Section Intro --}}
				<div class="section-intro">
					{{#with intro}}
						<h2 class="section-title center default">
							{{header}}
						</h2>
						<p class="center">
							{{paragraph}}
						</p>
					{{/with}}
				</div> {{!-- /.section-intro --}}
			{{/if}}
			
	
			{{!-- Carousel / Card --}}
			{{#with carousel}}
				<div class="grid grid--options grid--1">					
					{{!-- CAROUSEL --}}
					<div class="card card--options card--carousel card--0">
						<div id="{{../id}}-slick" class="{{../id}}__slick" data-slick>
		      		{{#each locations}}
		        		<div class="{{../../id}}__slide" data-open="{{../../id}}-reveal-{{@index}}">
		        			<div class="slide-img">
		        				<img src="{{img}}"/>
		        			</div>
		        			<div class="slide-content">
		        				<h4 class="slide-title">{{title}}</h4>
		        				<div class="slide-symbols">
		        					{{#each symbols}}
		        						<img class="symbol__{{alt}}" src="{{src}}" alt="{{alt}}" />
		        					{{/each}}
		        				</div>
		        				<span class="slide-button"><span class="text">More Info</span>{{> icon svg="location-plus"}}</span>
		        			</div>
			      		</div>
		      		{{/each}}
		      	</div>{{!-- /#locations-slick --}}
					</div>
					
					{{!-- CARD --}}
					<div class="card card--options card--cta card--1">
						{{> cta cta }}
					</div>

				</div>{{!-- /grid--options --}}
			{{/with}}

		</div>{{!-- /.inner --}}
  </section>

{{!-- Reveal Modals --}}
{{#each carousel.locations}}
  <div class="{{../id}}__modal reveal" id="{{../id}}-reveal-{{@index}}" data-reveal >
    <div class="{{../id}}__modal-frame">
    	<div class="{{../id}}__modal-content">
     
	     <div class="modal-top">
		      <img class="modal-img" src="{{modal-img}}" />
		      <button class="close-button {{../id}}__modal-close-button"
		              data-close
		              aria-label="close modal"
		              type="button">
		        <span aria-hidden>&times;</span>
		      </button>
		    </div>{{!-- /.modal-top --}}

		    <div class="modal-card">
		    		
		    		<div class="modal-intro">
		    			<h2>{{title}}</h2>
		    			<h5>{{location}}
		    		</div>
		    		
		    		<div class="modal-symbols">
		    			{{#each symbols}}
		    				<img src="{{src}}" alt="{{alt}}" />
		    			{{/each}}
		    		</div>

		    		<p class="show-for-medium">{{paragraph}}</p>

		    		{{#with cta}}
			    		<span class="cta">{{header}}</span>
			    		<a href="{{button.href}}" class="button button--locations-modal">
			    			{{button.text}}
			    		</a>
		    		{{/with}}
		    </div>

		  </div>
    </div>
  </div>
{{/each}}