{{#*inline "content" }}
<section id="{{id}}" class="facility bottomline">
	<div class="inner inner--{{id}}">

		{{#each list-group}}
			<div class="list-group">
				{{#each list}}
					<div class="list">
						<h3>{{title}}</h3>
						<hr>
						<ul>
							{{#each items}}
								<li>{{text}}</li>
							{{/each}}
						</ul>
					</div>
				{{/each}}
			</div>
		{{/each}}
		
	</div>{{!-- /.inner --}}
	
</section>
{{/inline}}
{{> content id="offerings"}}