{{#*inline "content" }}
<section id="{{id}}" class="facility">
	<div class="inner inner--{{id}}">

		<div class="card card--0">
			{{#with carousel}}
				<div id="{{../id}}-slick" class="{{../id}}__slick" data-slick>
		      {{#each this}}
		        <img class="{{../../id}}__slide"
		        	src="{{img}}"
			         alt="{{alt}}"
			         data-open="{{../../id}}-reveal-{{@index}}"
			         data-ga-event
			         data-ga-category="{{../../id}}"
			         data-ga-action="enlarge image"
			         data-ga-label="{{alt}}" />
		      {{/each}}
				</div>
			{{/with}}
		</div>{{!-- /.card--1 --}}

		<div class="card card--1">
			{{#with content}}
				<h3>{{header}}</h3>
				<h2>{{subhead}}</h2>
				<hr>
				<p class="card__paragraph">{{paragraph}}</p>
			{{/with}}
		</div>{{!-- /.card--1 --}}
	
	</div>{{!-- /.inner --}}
</section>
{{/inline}}
{{> content id="ourfacility"}}