<section class="page-title">
	{{!-- Headers --}}
		{{#if h1}}<h1 class="section-title{{#if class}} {{class}}{{/if}}">{{h1}}</h1>{{/if}}
		{{#if h2}}<h2 class="section-title{{#if class}} {{class}}{{/if}}">{{h2}}</h2>{{/if}}
		{{#if h3}}<h3 class="section-title{{#if class}} {{class}}{{/if}}">{{h3}}</h3>{{/if}}
		{{#if h4}}<h4 class="section-title{{#if class}} {{class}}{{/if}}">{{h4}}</h4>{{/if}}
		{{#if h5}}<h5 class="section-title{{#if class}} {{class}}{{/if}}">{{h5}}</h5>{{/if}}
</section>