{{!-- Phone --}}
{{#if inverse}}
<a href="tel:{{#unlesspage 'v-ad' 'talbott'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.verification-phone}}{{/ifpage}}{{#ifpage 'talbott'}}{{@root.site.talbott-phone}}{{/ifpage}}"
   class="{{#unlesspage 'v-ad'}}InfinityNumber{{/unlesspage}} button button--phone"
   data-ict-discovery-number="{{@roote.site.phone}}"
   data-ict-silent-replacements="false"
   data-ga-event
   data-ga-category="Phone Numbers"
   data-ga-action="Phone Clicks"
   data-ga-label="{{#if ga-label}}{{ga-label}}{{else}}{{#unlesspage 'v-ad'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.verification-phone}}{{/ifpage}}{{/if}}">
  <span class="show-for-medium">Call</span>
  <span>{{> icon svg="phone"}}</span>
  <span class="button__phone">{{#unlesspage 'v-ad' 'talbott'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.verification-phone}}{{/ifpage}}{{#ifpage 'talbott'}}{{@root.site.talbott-phone}}{{/ifpage}}</span>
</a>
{{else}}
<a href="tel:{{#unlesspage 'v-ad' 'talbott'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.verification-phone}}{{/ifpage}}{{#ifpage 'talbott'}}{{@root.site.talbott-phone}}{{/ifpage}}"
   class="{{#unlesspage 'v-ad'}}InfinityNumber{{/unlesspage}} button button--phone"
   data-ict-discovery-number="{{@roote.site.phone}}"
   data-ict-silent-replacements="false"
   data-ga-event
   data-ga-category="Phone Numbers"
   data-ga-action="Phone Clicks"
   data-ga-label="{{#if ga-label}}{{ga-label}}{{else}}{{#unlesspage 'v-ad'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.verification-phone}}{{/ifpage}}{{/if}}">
  {{!-- <span class="show-for-medium">Call</span>
  <span class="show-for-medium">{{> icon svg="phone--primary"}}</span>
  <span class="hide-for-medium">{{> icon svg="phone"}}</span> --}}
  <span class="button__phone">{{#unlesspage 'v-ad' 'talbott'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.verification-phone}}{{/ifpage}}{{#ifpage 'talbott'}}{{@root.site.talbott-phone}}{{/ifpage}}</span>
</a>
{{/if}}