<div id="scroll-nav" class="scroll-nav hide-for-medium">
  <div class="scroll-inner">  
    
   {{!--  <div class="button--holder button--holder--0">
      {{> vob-button text="Verify Insurance" ga-label="Verify of Benefits Scroll-Nav"}}
    </div> --}}
    
    <div class="button--holder button--holder--1">
      <a href="tel:{{#unlesspage 'v-ad' 'talbott'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.verification-phone}}{{/ifpage}}{{#ifpage 'talbott'}}{{@root.site.talbott-phone}}{{/ifpage}}"
          data-ict-discovery-number="{{@roote.site.phone}}"
          data-ict-silent-replacements="false"
         class="{{#unlesspage 'v-ad'}}InfinityNumber{{/unlesspage}} button button--phone"
         data-ga-event
         data-ga-category="Phone Numbers"
         data-ga-action="Phone Clicks"
         data-ga-label="{{#if ga-label}}{{ga-label}}{{else}}{{@root.site.phone}}{{/if}}">
{{!--         <span class="phone__label hide-for-medium">Talk with us now</span>
        <span class="phone__icon hide-for-medium">{{> icon svg="phone"}}</span> --}}
        <span class="phone__phone">{{#unlesspage 'v-ad' 'talbott'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.verification-phone}}{{/ifpage}}{{#ifpage 'talbott'}}{{@root.site.talbott-phone}}{{/ifpage}}</span>
      </a>
    </div>
    

  </div>
</div>