{{#*inline "content" }}
	<section id="{{id}}">
		<div class="inner inner--{{../id}}">

			<div class="section-intro">
				{{#with intro}}
					<h2 class="section-title center default">
						{{header}}
					</h2> 						
					<p>One of our professionals will be calling from a 615 area code phone number soon.</p>
						<p>Please keep the following information ready:</p>
						<ol>
							<li>Insurance Provider’s Name</li>
							<li>Insurance Subscriber ID</li>
							<li>Insurance Group number</li>
							<li>Insurance Customer Care Number</li>
						</ol>
					<p>You can find all this information on your insurance card.</p> 
				{{/with}}
			</div> {{!-- /.section-intro --}}

		</div>{{!-- /.inner --}}
  </section>
{{/inline}}

{{> content id="thankyou"}}
 