{{!-- VOB Button --}}
<a class="button button--vob{{#if class}} {{class}}{{/if}}"
	data-open="vob-holder"
	data-ga-event
	data-ga-category="Verify of Benefits"
	data-ga-action="VOB Button"
	data-ga-label="{{#if ga-label}}{{ga-label}}{{else}}Verify of Benefits{{/if}}"
	onclick="vobClick()"
>
  <span class="vob__icon">{{> icon svg="contact-default"}}</span>
  <span class="vob__text">{{text}}</span>
</a>