
<section id="{{id}}">
	<div class="inner inner--{{id}}">
		<div class="card card--{{id}} card--0" data-open="what-video">
			<div class="video__triangle"></div>
			<div class="video__cta">
				<span class="video__cta__text">What to expect when you call</span><span class="play-button"></span>
			</div>
		</div>
		{{> card card }}
	</div>
</section>

{{!-- Video Modal --}}
<div id="what-video" class="{{id}}__modal reveal" data-reveal data-reset-on-close="true">
	<iframe width="100%" height="415" data-src="https://www.youtube.com/embed/TYjqIOG7nh8?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	<button class="close-button {{id}}__modal-close-button"
	        data-close
	        aria-label="close modal"
	        type="button">
	  <span aria-hidden>&times;</span>
	</button>
</div>