{{#*inline "content" }}
<section id="{{id}}" class="facility">
	<div class="inner inner--{{id}}">

		<div class="card card--0">
			{{#with content}}
				<h2>{{{header}}}</h2>
				<hr class="show-for-medium">
				<p class="card__paragraph">{{paragraph}}</p>
			{{/with}}
		</div>{{!-- /.card--0 --}}


		<div class="card callout card--1">
			{{#with callout}}
			<h2 class="default">{{header}}</h2>
			
				{{#if item}}
					<ul>
						{{#each item}}
							<li>{{text}}</li>
						{{/each}}
					</ul>
				{{/if}}
			{{/with}}
		</div>


	</div>{{!-- /.inner --}}
</section>
{{/inline}}
{{> content id="whychoose"}}