// Admissions

body.admissions {

	// Admissions--0
		#admissions--0 {
			@include breakpoint(small only) {
				padding-top: 91px;
			}

			// Card--1
				.card.card--1 {
					padding: 0;
				}///.card--1
		
		}///#admissions--0

}///body.admissions