// Treatment Page



// Model Section
	#treatment--model {
		@include breakpoint(large) {
			padding-bottom: 2rem;
		}
	}///#treatment--model


// Integrated Section
	#treatment--integrated {

		// Intro
			&-intro {

				// Settings
					padding: 0;


				// Card
					.card.card--0 {
						@include xy-cell(100%, true, 4rem);
						padding: 0;
					}

				// Header
					h2 {
						text-align: center;
						color: color($default);
						margin-bottom: 2rem;
					}///h2

				// Paragraph
					p.card__paragraph {
						text-align: center;
						@include breakpoint(xlarge) {
							max-width: 1000px;
							margin-left: auto;
							margin-right: auto;
							margin-bottom: 2rem;
						}
					}///p



			}///#treatment--integrated-intro

		// Images
			.highlight--0:before {
				background-image: url(#{$imgpath}/sitelink/treatment-accreditation.jpg);
				background-size: cover;
				background-position: bottom center;
			}//--0
			.highlight--1:before {
				background-image: url(#{$imgpath}/sitelink/treatment-motivational.jpg);
			}//--1
			.highlight--2:before {
				background-image: url(#{$imgpath}/sitelink/treatment-patient.jpg);
			}//--2
			.highlight--3:before {
				background-image: url(#{$imgpath}/sitelink/treatment-comprehensive.jpg);
			}///--3


	}///#treatment--integrated