// Why Choose Page



.sitelink.whychooseus {

	// Page-Title
		.page-title {
			padding-bottom: 2rem;
			@include breakpoint(medium) {
				padding-bottom: 3rem;
			}
			@include breakpoint(large) {
				padding-bottom: 4rem;			
			}
		}///.page-title


	// Leaders Section
		#whychoose--leaders {

			// Settings
				position: relative;
				padding-top: 1rem;
				padding-bottom: 1rem;
				@include breakpoint(medium) {
					padding: 2rem 0;
				}
				@include breakpoint(large) {
					padding: 3rem 0;
				}


			// Card
				.card.card--0 {
					@include xy-cell(100%, true, 2rem);
					padding: 2rem 1rem 1rem 1rem;
					background-color: rgba(color($inverse), 0.95);
					margin-bottom: 0;
					@include breakpoint(medium) {
						padding: 2rem 2rem 1rem 2rem;
						@include xy-cell(100%, true, 4rem);
					}
					@include breakpoint(large) {
						@include xy-cell(100%, true, 6rem);
						padding: 3rem 2rem 2rem 2rem;
					}
					@include breakpoint(xlarge) {
						@include xy-cell(100%, true, 6rem);			
					}
					@include breakpoint(xxlarge) {
						max-width: 1250px;
						margin: 0 auto;
					}
					
					
				}///.card--0


			// Header
				h2 {
					margin-bottom: 2rem;
					text-align: center;
					@include breakpoint(medium) {
						text-align: left;
						margin-bottom: 1.25rem;
					}
				}///h2


			// Image
				&:before {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					background-image: url(#{$imgpath}/sitelink/whychoose-leaders.jpg);
					background-repeat: no-repeat;
					background-size: cover;
					background-position: -1280px center;
					z-index: -1;
					@include breakpoint(400px) {
						background-position: center;
					}
					@include breakpoint(medium) {
						background-position: center left;
						background-size: cover;
					}
					@include breakpoint(large) {
						background-position: -50px center;
					}
					@include breakpoint(xxlarge) {
						background-position: center;
					}
					
				}///:before


		}///#whychoose--leaders


}///.whychoose





