@mixin box-shadow ($level, $color: #000) {
      @if $level == 1 {
        box-shadow: 0 1px 3px 1px rgba($color, 0.15);
      
      } @else if $level == 2 {
        box-shadow: 0 20px 30px 0 rgba($color, 0.10),
                    0 0 8px 0 rgba($color, 0.08);
      
      } @else if $level == 3 {
        box-shadow: 0 2px 4px rgba($color, 0.1),
                    0 6px 18px rgba($color, 0.1);
      
      } @else if $level == 4 {
        box-shadow: 0 2px 4px rgba($color, 0.11),
                    0 8px 18px rgba($color, 0.11);
      
      } @else if $level == 5 {
        box-shadow: 0 2px 18px rgba($color, 0.1),
                    0 6px 12px rgba($color, 0.2);
      
      } @else if $level == 'button' {
        box-shadow: 0 6px 10px rgba($color,0.08),
                    0 1px 18px rgba($color,0.06),
                    0 3px 5px rgba($color,0.14);
      }
  }///@mixin box-shadow