{{#*inline "content" }}
	<section id="{{id}}" class="{{#ifpage 'branding'}}branding{{/ifpage}}">
		<div class="inner inner--{{id}}">
			
			{{#if insurance-keywords}}
				<div class="card card--insurance-keywords">
					<div class="card__inner">
						<h1>Take Your Life Back</h1>
						<h2>Accredited substance abuse and mental health treamtent covered by {{> keywords}}</h2>
						<p class="card__paragraph">
						Foundations Recovery Network provides a personalized approach to treatment for those suffering from substance use and mental health issues all over the United States.
						</p>
						{{> phone}}
					</div>
				</div>
			{{else}}

			{{#unlesspage 'branding'}}
			{{> card
				h1=h1
				paragraph=paragraph
				phone2=phone2
			}}
			{{/unlesspage}}

			{{#ifpage 'branding'}}
			{{> card
				h1=h1
				h2=h2
				paragraph=paragraph
				phone2=phone2
			}}
			{{/ifpage}}
			{{/if}}

		</div>{{!-- /.inner --}}

			<div class="card card--video" data-open="help-video">
					<div class="video__cta">
						<span class="video__cta__text">See Margaret's story</span><span class="play-button"></span>
					</div>
			</div>
		

  </section>

  <div id="help-video" class="{{id}}__modal reveal" data-reveal data-reset-on-close="true">
  	<iframe width="100%" height="415" data-src="https://www.youtube.com/embed/QESNw4geBFU?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  	<button class="close-button {{id}}__modal-close-button"
  	        data-close
  	        aria-label="close modal"
  	        type="button">
  	  <span aria-hidden>&times;</span>
  	</button>
  </div>


{{/inline}}


{{!-- CONTENT --}}
{{#ifequal page 'frn-overview'}}
	{{> content id="hero"
		h1="Don't Let Your Past Define Your Future"
		paragraph="Foundations Recovery Network provides a personalized approach to treatment for those suffering from co-occurring substance use and mental health disorders."
		phone2="yes"
	}}
{{else}}

{{#ifequal page 'branding'}}
	{{> content id="hero"
		h1="Foundations Recovery Network"
		h2="Take Your Life Back"
		paragraph="Foundations Recovery Network provides a personalized approach to treatment for those suffering from substance use and mental health issues all over the United States."
		phone2="yes"
	}}
{{else}}
	{{> content id="hero"
		h1="Take Your Life Back"
		paragraph="Foundations Recovery Network provides a personalized approach to treatment for those suffering from substance use and mental health issues all over the United States."
		phone2="yes"
	}}
{{/ifequal}}
{{/ifequal}}
