{{#*inline "content" }}
	<section id="{{id}}">
	
		<div class="section-intro">
			{{#with treatment.intro}}
			<h2 id="keywords--header" class="section-title inverse center keywords--header">
				Accredited {{> keywords}}
			</h2>
			<p class="keywords--paragraph">
				Our nationally recognized substance abuse and mental health programs use evidence-based methods that produce life-changing results. By addressing both the addiction and any underlying mental health conditions in the same setting, we prepare individuals for a sustainable life of recovery.
			</p>
			{{/with}}
		</div>{{!-- /.section-intro --}}
		
		<div class="inner inner--{{id}}">
				{{#each treatment.cards}}
					{{> icon-card id="treatment"}}
				{{/each}}
		</div>

		<div class="bg--{{id}}">
		</div>
  </section>
{{/inline}}



{{!-- CONTENT --}}
{{> content id="treatment"}}
