{{#*inline "content" }}
	<section id="{{id}}" class="inverse">
		{{#with accreditations}}
		<div class="inner inner--{{../id}}">
			
			<div class="section-intro">
				<h2>{{header}}</h2>
				<p>{{paragraph}}</p>
			</div>

			<div class="grid-x">
			  {{#each cards}}
			  <div class="card card--{{../../id}} card--{{@index}}">
			    <div class="card__inner">
			    	{{#ifequal title 'LegitScript'}}
			    		<div class="creds-symbol">
			    			<script src="https://static.legitscript.com/seals/3417923.js"></script>
			    		</div>
			    	{{else}}
			    	<div class="creds-symbol">
			    		<img class="creds-symbol-img img--{{symbol.alt}}" src="{{symbol.src}}" alt="{{symbol.alt}}" />
			    	</div>
			    	{{/ifequal}}
			    	<h4>{{title}}</h4>
			    	<p>{{paragraph}}</p>
			    </div>
			  </div>
			  {{/each}}
			</div>

		</div>
		{{/with}}
  </section>
{{/inline}}

{{> content id="creds"}}
