{{#*inline "content" }}
	<section id="{{id}}">
		<div class="inner inner--{{id}}">
			<h3 class="section-title center">
				{{carousel.carousel.header}}
			</h3>

			<div id="{{id}}-slick" class="{{id}}__slick" data-slick>
	      {{#each carousel.carousel.items}}
		      <img class="{{../id}}__slide" data-interchange="[assets/img/slider/{{img}}, small]"
		         alt="{{alt}}"
		         data-open="{{../id}}-reveal-{{@index}}"
		         data-ga-event
		         data-ga-category="{{../id}}"
		         data-ga-action="enlarge image"
		         data-ga-label="{{alt}}" />

	      {{/each}}
			</div>

		
		</div>
  </section>
  

  {{#each carousel.carousel.items}}
    <div class="{{../id}}__modal reveal" id="{{../id}}-reveal-{{@index}}" data-reveal>
      <div class="{{../id}}__modal-frame">
        <div class="{{../id}}__modal-content">
          <img src="assets/img/slider/{{img}}" />
          <button class="close-button {{../id}}__modal-close-button"
                  data-close
                  aria-label="close modal"
                  type="button">
            <span aria-hidden>&times;</span>
          </button>
        </div>
      </div>
    </div>
  {{/each}}


{{/inline}}

{{> content id="carousel"}}
