{{#*inline "content" }}
	<section id="{{id}}" class="inverse">
		
		<div class="inner inner--{{id}}">		
			<h2 class="section-title inverse center">
				Take an Addiction Risk Assessment
			</h2>
			<p class="section-paragraph inverse center">
				This brief, confidential assessment can help determine if you or a loved one might have an addiction. It takes just minutes to complete!
			</p>

			<div class="grid">
				<div class="callout callout--secondary callout--0">
					<p>
						I am concerned for a family member, loved one or friend
					</p>
					<a id="assessment-form-1" class="button button--callout"
						data-ga-event
						data-ga-category="Assessment"
						data-ga-action="Loved One Assessment"
						data-ga-label="Opened Loved One Assessment"
					>
							Loved one assessment
					</a>
				</div>

				<div class="callout callout--secondary callout--1">
					<p>
						I am concerned about myself
					</p>
					<a id="assessment-form-2" class="button button--callout"
						data-ga-event
						data-ga-category="Assessment"
						data-ga-action="Self Assessment"
						data-ga-label="Opened Self Assessment"
					>
							Self-Assessment
					</a>
				</div>
			</div>
		</div>

	<div class="bg--{{id}}">
	</div>

  </section>
{{/inline}}

{{> content id="assessment"}}
