{{#*inline "content" }}
	<section id="{{id}}">
		<div class="inner inner--{{id}}">
			<div class="card callout card--0">
				<div class="card-piece--0">
					<h4>
						{{vob.content.header}}
					</h4>
					<hr>
					<p>
						{{#if insurance-keywords}}
						We can help you sort out the details of your {{> keywords}} policy. Give us a call and we'll be happy to do anything we can to help.
						{{else}}
						{{vob.content.paragraph}}
						{{/if}}
					</p>
				</div>
				<div class="card-piece--1">
					{{> phone}}
				</div>
			</div>
		</div>{{!-- /.inner --}}
  </section>
{{/inline}}

{{> content id="vob"}}
