{{#*inline "content" }}
	<section id="{{id}}" class="inverse">
		<div class="inner inner--{{id}}">
			
			<div class="card card--{{id}} card--inverse card--0">
				<h2>79 percent of Foundations patients report no clinically relevant addiction symptoms in the follow-up survey one year after treatment.</h2>
				<h5>Based on enrollment and response rates that exceed SAMHSA guidelines. As of September 1, 2017.</h5>
			</div>

			<div class="card card--{{id}} card--circles card--1">
				<div class="card__inner">
					<div class="circle circle--0" data-circle="0.79" data-circle-fill="#13D17E" data-circle-init="false">

						<strong><span class="show-for-ie">79%</span></strong>
						<img src="assets/img/logo-white.svg" class="circle__logo" />
					</div>
					<div class="circle-split"><strong>vs.</strong></div>
					<div class="circle circle--1" data-circle="0.50" data-circle-fill="#C3CFDD" data-circle-init="false">
						<strong><span class="show-for-ie">50%</span></strong>
						<h3 class="circle__label">National Average</h3>
					</div>
				</div>
			</div>
			

		</div>
  </section>
{{/inline}}

{{> content id="stats"}}
