{{#*inline "content" }}
	<section id="{{id}}" class="inverse">
		<div class="bg--{{id}}"></div>
		{{#with carousel.testimonials}}
		<div class="inner inner--{{../id}}">
			
			<div class="section-intro">
				<h2 class="section-title inverse center">{{header}}</h2>
			</div>
			

			<div id="{{../id}}-slick" class="{{../id}}__slick" data-slick>
	      {{#each items}}
	        <div class="{{../../id}}__slide">
	        	<p>{{text}}</p>
	        	<span class="author">{{author}}</span>
		      </div>
	      {{/each}}
			</div>

		</div>
		{{/with}}
  </section>
{{/inline}}

{{> content id="testimonials"}}
