{{#*inline "content" }}
	<section id="{{id}}">
		{{#with faq}}
		<h2 class="default center">{{header}}</h2>
		<div class="inner inner--{{../id}}">

			<ul class="accordion" data-accordion data-allow-all-closed="true">
			  {{#each questions}}
			  <li class="accordion-item" data-accordion-item>
			    <a class="accordion-title">{{question}}</a>
			    <div class="accordion-content" data-tab-content>
			      <p>{{answer}}</p>
			    </div>
			  </li>
			  {{/each}}
			</ul>

		</div>{{!-- /.inner --}}
		{{/with}}
  </section>
{{/inline}}

{{> content id="faq"}}