{{#*inline "content" }}
	<section id="{{id}}" class="bottomline">
		<div class="inner inner--{{id}}">
			
			{{> card
				index="0"
				h3="Our unique alumni program"
				subhead="A team dedicated to your recovery after graduation"
				line=true
				paragraph="Once you leave our care, you join the Life Challenge family. We’ll follow-up through your preferred means of communication - phone call, text or email - to provide a pep talk and check-in. The L+C team is active within the community of each facility, hosting events and reunions for L+C members. We’re invested in you and live to celebrate your achievements."
			}}		

			<div class="card card--{{id}} card--1">
			</div>
			

		</div>
  </section>
{{/inline}}

{{> content id="alumni"}}
