{{#*inline "content" }}
	<section id="{{id}}">
		<div class="inner inner--{{id}}">
			
			<div class="card card--{{id}} card--0" data-open="what-video">
				<div class="video__triangle"></div>
				<div class="video__cta">
					<span class="video__cta__text">What to expect when you call</span><span class="play-button"></span>
				</div>
			</div>

			{{> card
				index="1"
				h3="All calls are confidential by law."
				subhead="Help is here for you. All you need to do is reach out."
				line=true
				paragraph="Recovery is within reach and simply takes you reaching out to get help. We are truly committed to helping you find the right fit for your needs, whether it is at one of our facilities or not."
			}}

		</div>
  </section>

  <div id="what-video" class="{{id}}__modal reveal" data-reveal data-reset-on-close="true">
  	<iframe width="100%" height="415" data-src="https://www.youtube.com/embed/q9JXotss9MA?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  	<button class="close-button {{id}}__modal-close-button"
  	        data-close
  	        aria-label="close modal"
  	        type="button">
  	  <span aria-hidden>&times;</span>
  	</button>
  </div>

{{/inline}}

{{> content id="whattoexpect"}}
