{{#*inline "content" }}
	<section id="{{id}}" class="inverse">
		<div class="inner inner--{{id}}">

			{{> card
				h3="Creating lifetime relationships for long-term recovery."
				index="0"
			}}		

			<div class="card card--{{id}} card--1">
				{{> phone inverse="true"}}
			</div>

		</div>
  </section>

{{/inline}}

{{> content id="footer-cta"}}
