/*
 * Animations
 *
*/




// GetHelp  Steps
	$step-duration: 1.4s;
	.step--0 {
		@include breakpoint(small only) {
			animation-name: none;	
		}
		@include animation(0.2s, $step-duration);
	}

	.step--1 {
		@include breakpoint(small only) {
			animation-name: none;	
		}
		@include animation(0.6s, $step-duration);
	}

	.step--2 {
		@include breakpoint(small only) {
			animation-name: none;	
		}
		@include animation(1s, $step-duration);
	}


// Settings
	.animated {
		transform: translate3d(0, 0, 0);
		@include breakpoint(small only) {
			animation-name: none;	
		}
}