/*
 * Billboard
 * 	
 * 	Settings
 * 	Inner
 * 	Cards
 * 	Image
 * 	Video CTA
 * 	Trust Symbols
 * 	Content
*/


#billboard {
	
	// Settings
		padding-top: 0;
		@include breakpoint(medium) {
			padding-top: 85px;
			padding-bottom: 0;
		}
		@include breakpoint(xxlarge) {
			padding-top: 0;
		}
		

	// Inner
		.inner.inner--billboard {
			@include xy-grid;
			@include breakpoint(large) {
				max-width: none;
			}
		}///.inner


	// Cards
		.card {
			padding: 0;
			@include xy-cell(100%, true, 0rem);
			@include breakpoint(medium) {
				@include xy-cell(50%, true, 0rem);
			}
		}///.card

		.card.card--0 {
			border-radius: 0;
			margin-bottom: 0;
			z-index: 0;
			position: relative;
			@include breakpoint(medium) {
				@include transition(all 200ms ease);
				&:hover {
					cursor: pointer;
					&:after {
						background-color: rgba(0, 0, 0, 0.22);
					}
				}
			}
		}///.card--0

		.card.card--1 {
			text-align: center;
			margin-top: -2rem;
			position: relative;
			z-index: 2;
			padding: 2rem 2rem 0.5rem 2rem;
			@include xy-cell(100%, true, 2rem);
			@include box-shadow(1);
			@include breakpoint(medium) {
				text-align: left;
				box-shadow: none;
				margin-top: 0;
				padding: 2rem 1.5rem 0.5rem 2rem;
				border-radius: 0;
				@include xy-cell(50%, true, 0rem);
			}
			@include breakpoint(large) {
				padding: 2.5rem 2.5rem 1rem 2.5rem;
			}
			@include breakpoint(xxlarge) {
				padding: 160px 7rem 1rem 7rem;
			}
		}///.card--1


	// Image
		.card.card--0 {
			@include breakpoint(small only) {
				min-height: 200px;
				margin-top: 61px;
			}
			position: relative;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			

			// After
				&:after {
					content: '';
					position: absolute;
					display: inline-block;
					top: 0;
					left: 0;
					right: 0;
					width: auto;
					height: 250px;
					overflow: hidden;
					background-color: rgba(0,0,0,0.3);
					z-index: 0;
					// sizing
					background-position: top center;
					background-repeat: no-repeat;
					background-size: 376px;
					@include breakpoint(medium) {
						height: 100%;
						width: 100%;
						background-position: bottom center;
						background-size: 606px;
						@include transition(background-color 170ms ease);
					}
					@include breakpoint(large) {
						background-size: 646px;
					}
					@include breakpoint(xlarge) {
						background-size: 708px;
					}
					@include breakpoint(1250px) {
						background-size: 848px;
					}
				}///:after
		
		}///.card.card--0


	// Video CTA
		.card--0 .video__cta {
			position: absolute;
			top: 34%;
			left: 0;
			width: 100%;
			text-align: center;
			z-index: 1;
			@include breakpoint(medium) {
				top: 40%;
			}
			@include breakpoint(xxlarge) {
				top: 48%;
			}

			span.text {
				font-size: 24px;
				color: color($inverse);
				vertical-align: middle;
				@include breakpoint(medium) {
					font-size: 30px;
				}
				@include breakpoint(1250px) {
					font-size: 40px;
				}
			}///span.text

			.play-button {
				vertical-align: middle;
				width: 40px;
				height: 40px;
				margin-left: 1rem;
				@include breakpoint(xlarge) {
					width: 70px;
					height: 70px;
				}
				&:after {
					width: 12px;
					height: 17px;
					left: 15px;
					top: 12px;
					@include breakpoint(xlarge) {
						width: 22px;
						height: 29px;
						background-size: 21px 28px;
						left: 26px;
						top: 20px;
					}
					
				}///:after
			}///.play-button

		}///.video__cta


	// Trust Symbols
		.trust-symbols {
			@include xy-grid;
			margin: 0 auto;
			text-align: center;
			justify-content: center;
			@include breakpoint(medium) {
				text-align: left;
				justify-content: flex-start;
			}

			@include breakpoint(medium) {
				margin: 0;
			}

			img {
				width: 58px;
				height: auto;
				object-fit: contain;
				margin: 0 0.7rem;
				align-self: center;
				@include breakpoint(large) {
					height: 75px;
				}
				&:first-child {
					margin-left: 0;
				}
			}///img

		}///.trust-symbols


	// Content

		// Header
			h3 {

			}

		// Subhead
			h2 {
				margin-bottom: 1rem;
				@include breakpoint(medium) {
					margin-bottom: 0;
				}
			}///h2

		// Paragraph
			p.card__paragraph {
				text-align: left;
				margin-bottom: 0.25rem;
				@include breakpoint(medium) {
					margin-bottom: 1rem;
				}
			}///p.card__paragraph


}///#billboard