/*
 * Buttons
 * 	button
 *
 * Play Button
*/

.button,
a.button {

	// default


	// phone
		&--phone {
			font-size: 26px;
			color: color($inverse);
			padding: 18px 2rem;
			margin-bottom: 0;
			width: 100%;
			background-color: color($primary);
			align-self: flex-start;
			text-align: center;
			font-weight: 700;
			border-radius: 100px;
			outline: 0;
			border: 3px solid color($primary);
			@include transition(all 180ms ease);
			@include breakpoint(medium) {
				font-size: 30px;
				color: color($primary);
				padding: 0;
				width: auto;
				background: none;
				border: 0;
				text-align: left;
				border-radius: 0;
			}
			@include breakpoint(large) {
				font-size: 35px;
				margin-bottom: 0;
			}
			&:hover {
				color: color($inverse);
				background: color($primary);
				@include breakpoint(medium) {
					background: none;
					color: shade(color($primary), 5%);
				}
			}
			&:focus {
				@include breakpoint(medium) {
					color: color($primary);
					background: transparent;
				}
			}
		}///--phone

	
	// callout
		&--callout {
			border-radius: 100px;
			@include breakpoint(large) {
				min-width: 240px;
			}
		}

		&--callout.button--callback {
			background: color($primary);
			padding: 15px 38px;
			font-weight: 700;
			@include breakpoint(xlarge) {
				position: absolute;
				bottom: -2.75rem;
				left: 10rem;
				right: 10rem;
			}

			&:before {
				content: '';
				display: block;
				float: left;
				height: 18px;
				width: 17px;
				background-image: url(#{$imgpath}/icon/contact-default.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100%;
				margin-right: 10px;
			}
		}///.button--callback


	// locations-modal
		&--locations-modal {
			color: color($inverse);
			background: color($secondary);
			padding: 1rem 4.5rem;
			border-radius: 100px;
			margin: 0 auto;
			margin-bottom: 1rem;
			@include breakpoint(medium) {
				margin: 0;
				margin-bottom: 1rem;
				padding: 1rem 3rem;
			}
		}///.button--locations-modal


	// VOB Button
		&--vob {
			font-weight: 700;
			color: color($default);
			background-color: color($inverse);
			border: 3px solid color($primary);
			border-radius: 100px;
			padding: 1rem 3rem;
			@include transition(all 180ms ease);
			@include breakpoint(medium) {
				background-color: color($primary);
				color: color($inverse);
			}
			.vob__icon {
				margin-right: 8px;
			}

			&:hover {
				@include breakpoint(medium) {
					background-color: color($primary);
					transform: translateY(-8px);
					@include box-shadow(2);
				}
			}///:hover
			&:focus {
				background-color: color($primary);
			}
		}///.button--vob

		&--vob.button--vob--alt {
			background-color: color($primary);
			color: color($inverse);
			&:hover {
				@include breakpoint(medium) {
					transform: none;
					background-color: #10B66E;
					border-color: #10B66E;
				}
			}///:hover
		}///.button--vob--alt


	// Privacy
		&--privacy {
			background: none;
			color: color($default);
			margin: 0;
			padding: 0;
			vertical-align: unset;
			&:hover, &:focus {
				background: none;
				color: tint(color($default), 10%);
				text-decoration: underline;
			}
		}///.button.button--privacy


}///.button



// Play Button
	.play-button {
		display: inline-block;
		position: relative;
		width: 30px;
		height: 30px;
		margin-left: 13px;
		border-radius: 100px;
		background: color($inverse);
		@include box-shadow(1);
		@include breakpoint(large) {
			margin-left: 30px;
			width: 36px;
			height: 36px;
		}
		@include breakpoint(xlarge) {
			width: 41px;
			height: 41px;           
		}

		&:after {
			content: '';
			position: absolute;
			left: 11px;
			top: 8px;
			width: 10px;
			height: 13px;
			background: url(#{$imgpath}/icon/play.svg) center/100% no-repeat;
			@include breakpoint(large) {
				left: 13px;
				top: 10px;
				width: 12px;
				height: 15px;
				background-size: 12px 15px;
			}
			@include breakpoint(xlarge) {
				width: 13px;
				height: 17px;
				background-size: 13px 17px;
				top: 12px;
				left: 15px;
			}
		}///:after
	}///.play-button