/*
 * Cards
 *
 * 
 *
*/


// Cards
	.card {
		border: 0px;
		padding: 2rem;
		@include xy-cell(50%, true, 0rem);
		//@include box-shadow(1);


		ul {
			text-align: left;
			list-style-type: none;
		}

		// Inverse
			&--inverse {
				h1, h2, h3, h4, h5, p {
					color: color($inverse);
				}
				background: transparent;
			}
	}///.card


// Callout
	.callout {
		text-align: center;
		border: 0px;
		border-radius: 8px;
		padding: 2rem 1rem 1rem 1rem;
		@include box-shadow(1);
		@include xy-cell(50%, true, 0rem);
		@include breakpoint(medium) {
			padding: 3rem 2rem 1rem 2rem;
		}
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 7px;
			border-radius: 8px 8px 0px 0px;
			background: color($primary);
		}

		// Secondary
			&--secondary {
				&:before {
					background-color: color($secondary);
				}

				.button.button--callout {
					background: color($secondary);
				}
			}///.callout--secondary
	}///.callout