/*
 * Carousel
 *
 * 
 *
*/


// Carousel
	#carousel {
		
		// Settings
			padding-top: 1rem;
			padding-bottom: 0;
			@include breakpoint(medium) {
				padding-top: 3rem;
				padding-bottom: 3rem;
			}
			@include breakpoint(large) {
				padding-top: 4rem;
				padding-bottom: 2rem;
			}
			


		// Inner
			.inner {
				@include breakpoint(xlarge) {
					max-width: none;			
				}
			}


		// List
			.slick-list {
				overflow-y: visible;
			}


		// Slick Track
			.slick-track {
				@include breakpoint(large) {
					padding: 2rem 0;
				}
			}


		// Slides
			.slick-slide {
				@include transition(all 180ms ease);
				&:hover {
					cursor: pointer;
					@include box-shadow(2);
					transform: translateY(-8px);
				}
				@include breakpoint(medium) {
					margin: 0 1rem;
				}
				@include breakpoint(large) {
					width: 292px;
				}
				@include breakpoint(xlarge) {
					width: 350px;
					margin: 0 1.5rem;
				}
			}///.slick-slide


		// Images
			.slick-slide img {
				@include breakpoint(small only) {
					min-height: 435px;
					max-width: none;
					object-fit: cover;
				}
				border-radius: 0px;
					@include breakpoint(medium) {
						border-radius: 8px;
					}
			}


		// Controls
			.slick-arrow {
		    position: absolute;
		    bottom: 15px;
		    height: 39px;
		    width: 39px;
		    margin: auto 0;
		    border-radius: 50%;
		    z-index: 100;
				background: color($inverse);
				@include breakpoint(medium) {
					bottom: 50%;
					top: 50%;
				}
				@include breakpoint(xlarge) {
					height: 51px;
					width: 51px;			
					@include box-shadow(1);
				}
				

				&:before {
			    content: '';
					display: block;
			    position: absolute;
			    top: 2px;
			    bottom: 2px;
			    left: 2px;
			    right: 2px;
			    border-radius: 50%;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    text-align: center;
			    background: center/11px no-repeat url(#{$imgpath}/icon/chevron.svg);
			    @include breakpoint(xlarge) {
			    	background: center/15px no-repeat url(#{$imgpath}/icon/chevron.svg);
			    }
			    
				}

			}///.slick-arrow
			.slick-prev {
				left: 1rem;
				@include breakpoint(medium) {
					left: 2rem;
				}
				@include breakpoint(large) {
					left: 4rem;
				}
				@include breakpoint(xlarge) {
					left: 5rem;			
				}
				
				&:before {
					transform: rotate(180deg);
					left: 0px;
				}
			}
			.slick-next {
				right: 1rem;
				@include breakpoint(medium) {
					right: 2rem;
				}
				@include breakpoint(large) {
					right: 4rem;
				}
				@include breakpoint(xlarge) {
					right: 5rem;			
				}
				
				&:before {
					right: 0px;
				}
			}///.slick-next


		// Header
			h3.section-title {
				font-size: 18px;
				margin-bottom: 2rem;
				margin-left: auto;
				margin-right: auto;
				line-height: 32px;
				@include breakpoint(medium) {
					max-width: none;
					margin-bottom: 3rem;
				}
				@include breakpoint(large) {
					font-size: 22px;
					margin-bottom: 2rem;
				}
				@include breakpoint(xlarge) {
					font-size: 26px;			
				}
				
			}


	}///#carousel



// Locations
	#locations {
		
		// #locations-slick
			#locations-slick {
				min-width: 1px;
			}

	}///#locations



// Testimonials 
	#testimonials {
		
		// Settings
			background: transparent;
			padding-top: 3rem;
			padding-bottom: 4rem;
			position: relative;
			@include breakpoint(medium) {
				padding-top: 2rem;
				padding-bottom: 5rem;
			}
			@include breakpoint(large) {
				padding-bottom: 6rem;
			}
			@include breakpoint(xlarge) {
				padding-top: 3rem;	
				padding-bottom: 7.5rem;
			}


		// Background
			.bg--testimonials {
				&:before, &:after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: -1;
				}///:before:after

				&:before {
					background-image: url(#{$imgpath}/testimonials.jpg);
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;	
				}///:before

				&:after {
					background: rgba(0,0,0,0.5);
				}
			}///.bg--testimonials


		// Section-Title
			h2.section-title {
				margin-bottom: 3rem;
				@include breakpoint(medium) {
					margin-bottom: 2rem;
				}
				@include breakpoint(xlarge) {
					margin-bottom: 3rem;
				}
			}///h2


		// Slider Container
			#testimonials-slick {
				@include breakpoint(large) {
					@include xy-cell(80%, true, 1rem);
					margin-left: auto;
					margin-right: auto;
				}
				@include breakpoint(xlarge) {
					@include xy-cell(80%, true, 0rem);
					margin: 0 auto;
				}
				@include breakpoint(xxlarge) {
					@include xy-cell(99%, true, 0rem);
					margin: 0 auto;
				}
				
			}///#testimonials-slick


		// Slide
			.slick-slide {
				position: relative;
				height: auto;
				margin: 0 1rem;
				border-radius: 8px;
				align-self: center;
				@include breakpoint(medium) {
					margin: 0 1rem;
					align-self: stretch;
				}
				@include breakpoint(xlarge) {
					margin: 0 1.5rem;			
				}
				
				@include breakpoint(xxlarge) {
					margin: 0 37.5px;
				}
				
			}///.slick-slide


		// Slide Inner
			.testimonials__slide {
				position: relative;
				overflow: hidden;
				background: color($inverse);
				text-align: left;
				border: 0px;
				padding: 3rem 2rem;
				border-radius: 8px;

				@include box-shadow(1);
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 7px;
					background: color($primary);
				}
			}///.testimonials__slide


		// Controls
			
			// Arrow
				.slick-arrow {
			    position: absolute;
			    bottom: 13rem;
			    height: 39px;
			    width: 39px;
			    margin: auto 0;
			    border-radius: 50%;
			    z-index: 100;
					background: color($inverse);
					box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
					@include breakpoint(medium) {
						bottom: -56px;
					}

					// BeforeChevron
						&:before {
					    content: '';
							display: block;
					    position: absolute;
					    top: 2px;
					    bottom: 2px;
					    left: 2px;
					    right: 2px;
					    border-radius: 50%;
					    display: flex;
					    justify-content: center;
					    align-items: center;
					    text-align: center;
					    background: center/9.4px no-repeat url(../img/icon/chevron.svg);
						}

				}///.slick-arrow


			// Vars
				$offset: 			0rem;
				$offset-md: 	14rem;
				$offset-lg: 	14rem;
				$offset-xl: 	32%;
				$offset-xxl: 	36%;

			// Prev
				.slick-prev {
					left: $offset;
					@include breakpoint(medium) {
						left: $offset-md;
					}
					@include breakpoint(large) {
						left: $offset-lg;
					}
					@include breakpoint(xlarge) {
						left: $offset-xl;
					}
					@include breakpoint(xxlarge) {
						left: $offset-xxl;
					}
					&:before {
						transform: rotate(180deg);
						right: 3px;
					}
				}///.slick-prev

			// Next
				.slick-next {
					right: $offset;
					@include breakpoint(medium) {
						right: $offset-md;
					}
					@include breakpoint(large) {
						right: $offset-lg;
					}
					@include breakpoint(xlarge) {
						right: $offset-xl;
					}
					@include breakpoint(xxlarge) {
						right: $offset-xxl;
					}
					&:before {
						left: 3px;
					}
				}///.slick-next


		// Dots
			.slick-dots {
				position: absolute;
		    bottom: -44px;
		    display: block;
		    width: 100%;
		    padding: 0;
		    margin: 0;
		    list-style: none;
		    text-align: center;

		    li {
		    	position: relative;
	  	    display: inline-block;
	  	    width: 10px;
	  	    height: 10px;
	  	    margin: 0 5px;
	  	    padding: 0;
	  	    cursor: pointer;
		    }

		    li button {
		    	font-size: 0;
	  	    line-height: 0;
	  	    display: block;
	  	    width: 11px;
	  	    height: 11px;
	  	    padding: 5px;
	  	    cursor: pointer;
	  	    color: transparent;
	  	    border: 0;
	  	    outline: none;
	  	    background: transparent;
	  	    &:before {
	  	    	font-family: 'slick';
	    	    position: absolute;
	    	    top: 0;
	    	    left: 0;
	    	    width: 11px;
	    	    height: 11px;
	    	    content: '';
	    	    background: transparent;
	    	    border: 2px solid white;
	    	    border-radius: 100px;
	    	    text-align: center;
	    	    opacity: 1;
	  	    }

	  	    &:hover,
	  	    &:focus {
	  	    	outline: none;
	  	    	&:before {
	  	    		background: color($inverse);
	  	    	}///before
	  	    }///hover/focus
		    }///li button
		    li.slick-active button:before {
		    	background: color($inverse);
		    }



			}///.slick-dots


		// Track & Slide
			.slick-track,
			.slick-slide,
			.slick-slide>div:first-child {
				display: flex;
			}


		// Paragraph
			.testimonials__slide p {
				font-size: 18px;
			}

		// Author
			span.author {
				font-size: 18px;
			}

	}///#testimonials



// Our Facility
	
	#ourfacility {

		// Container
			.slick-list {
				border-radius: 8px;
			}

		// Controls
			.slick-arrow {
		    position: absolute;
		    top: 42%;
		    height: 39px;
		    width: 39px;
		    margin: auto 0;
		    border-radius: 50%;
		    z-index: 100;
				background: color($inverse);
				@include breakpoint(medium) {
					bottom: 50%;
					top: 50%;
				}

				&:before {
			    content: '';
					display: block;
			    position: absolute;
			    top: 2px;
			    bottom: 2px;
			    left: 2px;
			    right: 2px;
			    border-radius: 50%;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    text-align: center;
			    background: center/8.2px no-repeat url(#{$imgpath}/icon/chevron.svg);
				}

			}///.slick-arrow
			.slick-prev {
				left: 1rem;
				@include breakpoint(medium) {
					left: 2rem;
				}
				&:before {
					transform: rotate(180deg);
				}
			}
			.slick-next {
				right: 1rem;
				@include breakpoint(medium) {
					right: 2rem;
				}
			}
	}///#ourfacility



// Controls	
	.slick-arrow {
		@include breakpoint(medium) {
			@include transition(all 180ms ease);
		}
		&:hover {
			cursor: pointer;
			@include breakpoint(medium) {
				@include box-shadow(2);
				transform: translateY(-8px);	
			}
		}///:hover
	}///.slick-arrow