/*
 * Ctas
 *
 * 
 *
*/

.cta.cta--main  {

	// Settings


	// Grid
		.cta__inner {
			background-color: color($inverse);
			@include box-shadow(1);
			@include xy-grid;
			@include breakpoint(large) {
				@include xy-gutters(4rem);
				justify-content: center;
			}
			@include breakpoint(xlarge) {
				max-width: 1050px;
				margin: 0 auto;			
			}
			
		}///.cta__inner

	
	// Cards
		.card--cta.card--cta {
			padding: 0;
			@include xy-cell(100%, true, 0rem);
		}

		
		// Card--Cta--0
			.card--cta.card--cta--0 {
				@include xy-cell(100%, true, 2rem);
				@include breakpoint(small) {
					padding-top: 1rem;
				}
				@include breakpoint(large) {
					@include xy-cell(50%, true, 0rem);
					align-self: center;
					padding-top: 0;
					padding-left: 3rem;
				}
				@include breakpoint(xlarge) {
					@include xy-cell(50%, true, 0rem);
				}
			}///.card--cta--0
		

		// Card--Cta--1
			.card--cta.card--cta--1 {
				@include xy-cell(100%, true, 4rem);
				@include breakpoint(medium) {
					@include xy-cell(100%, true, 6rem);
					padding: 1rem 3rem;
					border-radius: 8px;
				}
				@include breakpoint(large) {
					@include xy-cell(auto, true, 1rem);
					padding: 2rem 3rem;
					margin-right: 0;
				}
				@include breakpoint(xlarge) {
					padding: 2rem;			
				}
				
			}///.card--cta--1

	
		// Card Inner
			.card__inner {
				@include breakpoint(medium) {
					@include xy-grid;
					justify-content: center;
				}
			}///.card__inner


	// Header
		h4 {
			text-transform: none;
			font-size: 24px;
			text-align: center;
			@include breakpoint(medium) {
				font-size: 18px;
				margin-bottom: 0;
			}
			@include breakpoint(large) {
				text-align: left;
				margin-bottom: 0;
			}
			@include breakpoint(xlarge) {
				font-size: 26px;			
			}
			
		}


	// Buttons
		.button--phone {
			margin-bottom: 1.5rem;
			@include xy-cell(100%, true, 0rem);
			@include breakpoint(medium) {
				@include xy-cell(shrink, true, 0rem);
				align-self: center;
				margin-bottom: 0;
			}
			@include breakpoint(large only) {
				font-size: 30px;
			}
			&:focus {
				@include breakpoint(small only) {
					background-color: color($primary);
				}
			}

		}///.button--phone


		.button--vob {
			@include xy-cell(100%, true, 0rem);
			@include breakpoint(medium) {
				@include xy-cell(shrink, true, 0rem);
				margin-bottom: 0;
			}
		}

}///.cta.cta--main



// Sitelink CTA
.cta.cta--main {
	
	// Card--0
		.card--cta.card--cta--0 {
			@include breakpoint(xlarge) {
				width: 50%;
			}
		}///.card--cta--0

	// Card--1
		.card--cta.card--cta--1 {
			@include breakpoint(medium) {
				padding: 1rem;
			}
			@include breakpoint(large) {
				padding: 2rem;
			}
		}///.card--cta--1


	// VOB Button
		.button.button--vob {
			@include breakpoint(small only) {
				padding: 1rem 2rem;	
			}
		}///.button--vob

}
///Sitelink CTA