/*
 * Cards
 *
*/
// Cards

.duo {

  // Settings
    padding-bottom: 0;


  // Title
    h2.section-title {
      text-align: center;
      color: color($default);
    }


  // Inner
  	.inner {
  		@include xy-grid;
      @include breakpoint(large) {
        @include xy-gutters(4rem);
      }
      @include breakpoint(xlarge) {
        @include xy-gutters(7rem);
        margin: 0 auto; 
      }
      @include breakpoint(xxlarge) {
        max-width: 1250px;
        margin: 0 auto;
      }
      
  	}


  // Cards

    // Card--0
      .card.card--0 {
        padding: 0;
        @include breakpoint(small only) {
          order: 1;
        }
        @include xy-cell(100%, true, 2rem);
        @include breakpoint(medium) {
          @include xy-cell(50%, true, 2rem);
        }
        @include breakpoint(xlarge) {
          @include xy-cell(50%, true, 4rem);
        }
        


        // Not Right
          &:not(.right) {
            @include breakpoint(xxlarge) {
              margin-left: 0;
            }  
          }///:not(.right)

        // Right
          &.right {
            order: 1;
            @include breakpoint(xxlarge) {
              margin-right: 0;
            }
            
          }
      }///.card--0


    // Card--1
      .card.card--1 {
        @include breakpoint(small only) {
          order: 0;
          min-height: 230px;
          margin-bottom: 2rem;
        }
        @include xy-cell(100%, true, 2rem);
        @include breakpoint(medium) {
          order: 1;
          @include xy-cell(50%, true, 2rem);
          align-self: center;
        }
        @include breakpoint(xlarge) {
          @include xy-cell(50%, true, 4rem);
        }


        &:not(.left) {
          @include breakpoint(xxlarge) {
            margin-right: 0;
          }
        }
        
        
        

        // Left
          &.left {
            order: 0;
            @include breakpoint(xxlarge) {
              margin-left: 0;
            }
          }
      }///.card--1


    // Card--1 Background Image
      .card.card--1 .card__inner {
        height: 230px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include breakpoint(medium) {
          height: 250px;
        }
        @include breakpoint(large) {
          height: 280px;
        }
        @include breakpoint(xlarge) {
          height: 390px;
        }
      }///.card__inner


    // Card--Media
      .card--media {
        padding: 0;
      }///.card--media


    // Card--Media--Video
      .card--media--video {
        &:hover {
          @include breakpoint(large) {
            cursor: pointer;
          }
        }
      }///.card--media--video


  // Header
    .card--0 h2 {
      text-align: center;
      margin-bottom: 2rem;
      @include breakpoint(medium) {
        text-align: left;
        margin-bottom: 1rem;
      }
      @include breakpoint(large) {
        font-size: 24px;
        line-height: 31px;
      }
      @include breakpoint(xlarge) {
        font-size: 40px;
        line-height: 50px;
      }
      
    }///h2


  // H4
    h4 {
      font-size: 18px;
      text-transform: none;
      text-align: center;
      margin-bottom: 1.8rem;
      @include breakpoint(medium) {
        text-align: left;
      }
      @include breakpoint(large) {
        font-size: 22px;
      }
      @include breakpoint(xlarge) {
        font-size: 26px;      
      }
      
    }///h4


  // Subhead
    h2.subhead {
      font-size: 24px;
    }


  // Paragraph
    .card__paragraph {
      @include breakpoint(medium) {
        margin-bottom: 2rem;
      }
      @include breakpoint(large) {
        margin-bottom: 1rem;
      }
    }///.card__paragraph


  // List
    ul,
    .card ul {
      list-style-type: none;
      line-height: 28px;

      li {
        font-size: 16px;
        position: relative;
        @include breakpoint(large) {
          font-size: 18px;
        }

        &::before {
          content: '\2022';
          position: absolute;
          left: -1em;
          font-size: 1.1em;
        }

        &:not(:last-child) {
          margin-bottom: 0.25rem;
        }
      }///li
    }///ul


  // Video__CTA
    
    // Card Inner
      .card--media--video .card__inner {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0, 0.3);
        }///:before
      }///.card__inner
    
    // Video__CTA
      .video__cta {
        
        // Settings
          position: absolute;
          top: 40%;
          left: 0;
          width: 100%;
          text-align: center;
          z-index: 1;
          @include breakpoint(medium) {
            top: 40%;
          }

        // Text
          span.text {
            font-size: 24px;
            color: color($inverse);
            vertical-align: middle;
            @include breakpoint(medium) {
              font-size: 30px;
            }
            @include breakpoint(1250px) {
              font-size: 40px;
            }
          }///span.text

        // Play Button
          .play-button {
            vertical-align: middle;
            width: 40px;
            height: 40px;
            margin-left: 1rem;
            @include breakpoint(xlarge) {
              width: 70px;
              height: 70px;
            }
            &:after {
              width: 12px;
              height: 17px;
              left: 15px;
              top: 12px;
              @include breakpoint(xlarge) {
                width: 22px;
                height: 29px;
                background-size: 21px 28px;
                left: 26px;
                top: 20px;
              }
              
            }///:after
          }///.play-button
      
      }///.video__cta


  // Button
    .button {
      width: 100%;
      @include breakpoint(medium) {
        width: auto;
      }
    }



// VARIATIONS


}///.duo




