/*
 * 
 * Footer
 *
 * 
*/


#footer {

	// Settings
		padding: 1rem 1rem 40px 1rem;
		@include breakpoint(medium) {
			padding: 2rem 110px 40px 110px;
		}

	// Inner
		.inner {
			margin: 0 auto;
		}


	// Footer Creds

		// Grid
			.footer-creds {
				@include xy-grid;
				@include breakpoint(large) {
					max-width: 680px;
					margin: 0 auto;
				}
			}///.footer-creds


		// Symbol
			.footer-symbol {
				@include xy-cell(50%, true, 2rem);
				margin-bottom: 1rem;
				text-align: center;
				@include breakpoint(medium) {
					@include xy-cell(25%, true, 2rem);
				}
				@include breakpoint(large) {
					@include xy-cell(25%, true, 4rem);
				}

				// Legit
					&.symbol--legit img {
						max-width: 104px;
					}

				// NAATP
					img.img--naatp {
						max-width: 114px;
						margin-left: -3px;
						@include breakpoint(large) {
							max-width: 128px;	
							margin-left: -10px;
						}
					}///.img--naatp

				// img
					img {
						max-width: 70px;
						@include breakpoint(large) {
							max-width: 86px;
						}
					}///img
			}///.creds-symbol


	// Footer Text
		.footer__text {
			text-align: center;
			font-size: 14px;
			line-height: 32px;
			margin-bottom: 0;
		}///.footer__text

}///footer