/*
 * 
 * Grid
 * 	-default
 * 	-hero
 * 	-treatment
 * 	-dual diagnosis
 * 	-carousel
 * 	-assessment
 * 	-callback
 * 	-stats
 * 	-programs
 * 	-locations
 * 	-cost
 * 	-faq
 * 	-alumni
 *
*/


//-default
	section {
		.inner {
			@include xy-grid-container;
		}///.inner
	}///section


//-hero
	#hero {
		.inner.inner--hero {
			@include xy-gutters(0rem, $negative: true);
			margin: 0 auto;
			position: relative;
			padding-bottom: 0;
			@include breakpoint(large only) {
				@include xy-gutters(4rem);
			}
			@include breakpoint(xlarge) {
				@include xy-gutters(4rem);			
			}
			
			@include breakpoint(xxlarge) {
				margin: 0 auto;
			}
			
			
		}///.inner
	}///#hero


//-locations
	#locations {

		// Inner
			.inner {
				@include xy-grid;
			}

		// Grid
			.grid {
				@include xy-grid;
			}
	}///#locations


//-carousel
	#carousel {

		// Settings
			@include breakpoint(large) {
				padding-top: 1rem;
			}
	}///#carousel


//-assessment
	#assessment {
		// Inner
			.inner.inner--assessment {
				@include xy-gutters(2rem);
				@include breakpoint(medium) {
					@include xy-grid-container(768px, 0px);
				}
			}

		// Grid
			.grid {
				@include xy-grid;
				@include breakpoint(medium) {
					@include xy-gutters(2rem);
				}
			}///.grid

		// Cards
			.callout {
				@include xy-cell(100%, true, 0rem);
				@include breakpoint(medium) {
					@include xy-cell(50%, true, 2rem);
				}
			}
			.callout.callout--0 {}
			.callout.callout--1 {}
	}///#assessment


//-callback
	#callback {

		// Settings

		// Grid
			.inner {
				@include xy-grid;
				margin: 0 auto;
			}///.inner
	
		// Cards
			.card {
				@include xy-cell(100%, true, 2rem);
				@include breakpoint(medium) {
					@include xy-cell(50%, true, 4rem);
				}
				@include breakpoint(large) {
					@include xy-cell(52%, true, 8rem);
				}
				@include breakpoint(xlarge) {
					@include xy-cell(50%, true, 6rem);
				}
				@include breakpoint(xxlarge) {
					@include xy-cell(48%, true, 8rem);
					margin-left: 0;
				}
				
			}

			.card.card--callback.card--0 {
			}///.card--0
			.callout.card--1 {
				@include xy-cell(100%, true, 2rem);
				@include breakpoint(medium) {
					@include xy-cell(50%, true, 4rem);
				}
				@include breakpoint(large) {
					@include xy-cell(48%, true, 8rem);
				}
				@include breakpoint(xlarge) {
					@include xy-cell(50%, true, 6rem);
				}
				@include breakpoint(xxlarge) {
					@include xy-cell(52%, true, 8rem);
					margin-right: 0;		
				}
				
			}///card--2
	}///#dual


//-stats
	#stats {

		.inner {
			@include xy-grid;
			margin: 0 auto;
			@include breakpoint(medium) {
				margin: 0 1rem;
			}
			@include breakpoint(xlarge) {
				max-width: 980px;
				margin-left: auto;
				margin-right: auto;	
				justify-content: space-between;		
			}
			
		}

		// Cards
			.card {
				@include xy-cell(100%, true, 2rem);
				@include breakpoint(medium) {
					@include xy-cell(50%, true, 2rem);
					align-self: center;
				}
				@include breakpoint(large) {
					@include xy-cell(50%, true, 2rem);
				}
			}///.card
			.card.card--0 {
				@include breakpoint(medium) {
					@include xy-cell(45%, true, 2rem);
				}
				@include breakpoint(large) {
					@include xy-cell(50%, true, 2rem);
				}
				@include breakpoint(xlarge) {
					@include xy-cell(40%, true, 8rem);
					margin-left: 0;			
				}
				
			}///.card--0
			.card.card--1 {
				background: transparent;	
				@include breakpoint(xlarge) {
					@include xy-cell(25%, true, 6rem);
					margin-right: 0;						
				}
										
			}///.card--1
	}///#stats


//-programs
	section#programs {


		// Main Grid
			.inner {
				@include xy-grid-container(100%);
				@include xy-grid;
				@include xy-gutters(1rem, $negative: false);
				margin: 0 auto;
			}

		// Main Cards
			.card {
				@include xy-cell(100%, true, 0rem);
				@include breakpoint(medium) {
					@include xy-cell(50%, true, 0rem);
				}
			}///.card
			
	}///#inpatient
	

//-faq
	#faq {
		// Settings
			background: color($inverse, 200);

		// Inner
			.inner {
				@include breakpoint(medium) {
					@include xy-grid-container(1190px);
				}
			}///.inner


	}///#faq
