/*
 * Insurance
 *
*/

#insurance {
	
	&.insurance-keywords {
		// Settings
		padding: 2rem;
		@include breakpoint(medium) {
			background-color: color($inverse, 200);
			padding-bottom: 4rem;
		}
		@include breakpoint(large) {
			padding: 4rem 0;
		}
	}
	.inner {
		@include inner;

		.insurance-keywords--card {
			max-width: 1050px;
			margin: 0 auto 2rem;
		}

		.insurance-logos {
			margin-bottom: 2rem;
		}
	}

}///#insurance










