/*
 * List Component
 *
*/

.section-list {


	// Settings
		background-color: color($inverse, 200);
		padding-top: 2rem;
		@include breakpoint(large) {
			padding-top: 3rem;
		}
		@include breakpoint(xlarge) {
			padding-top: 4rem;			
		}
		

	// Grid
		.grid {
			@include xy-grid;
			@include breakpoint(xxlarge) {
				justify-content: space-around;
			}
		}///.grid



	// Cards
		.big-list {
			@include xy-cell(100%, true, 2rem);
			@include breakpoint(medium) {
				@include xy-cell(50%, true, 2rem);
			}
			@include breakpoint(large) {
				@include xy-cell(50%, true, 6rem);
				margin-right: 2rem;
			}
		}///.big-list

		.big-list.big-list--0 {
			@include breakpoint(xxlarge) {
				margin-left: 0;
			}
		}///.big-list--0

		.big-list.big-list--1 {
			@include breakpoint(xxlarge) {
				margin-right: 0;
			}
		}///.big-list--1


	// Header
		h2.section-title {
			font-size: 18px;
			color: color($default);
			font-weight: 700;
			line-height: 32px;
			text-align: center;
			margin-left: 1rem;
			margin-right: 1rem;
			margin-bottom: 2rem;
			@include breakpoint(large) {
				font-size: 22px;
				margin-bottom: 4rem;
			}
			@include breakpoint(xlarge) {
				font-size: 26px;
				margin-bottom: 4rem;		
			}
		}///h2.section-title


	// List
		ul.accordion {
			background-color: transparent;
			margin: 0 2rem;
			list-style-type: none;
		}///ul.accordion


	// List Item

		// List Item Labels
			ul.accordion li.item,
			ul.accordion li.item a.accordion-title,
			ul.accordion li.sub-item {
				font-size: 16px;
				font-weight: 700;
				padding: 0;
				margin: 0;
				margin-bottom: 2rem;
				@include breakpoint(large) {
					font-size: 18px;
				}
				@include breakpoint(xlarge) {
					font-size: 22px;			
				}
				
			}///li.item

		// List Item
			ul.accordion li.item {
				-webkit-column-break-inside: avoid;
				page-break-inside: avoid;
				@include breakpoint(medium) {
					position: relative;
				}
				@include breakpoint(xlarge) {
					line-height: 32px;			
				}

				&:last-child {
					@include breakpoint(medium) {
						margin-bottom: 1rem;
					}
				}///:last-child

				// bullet
				&::before {
					@include breakpoint(small only) {
						left: 1.2em;
					}
				  content: '\2022';
				  position: absolute;
				  left: -1.2em;
				  font-size: 1.05em;
				}///:before
			}///li.item

		// List Item Accordion Item
			ul.accordion li.item.accordion-item a.accordion-title {
				line-height: 25px;
			}

		// Sub List
			ul.accordion li.item ul.accordion-content {
				list-style-type: none;
			}///ul.accordion-content

		// Sub Item
			ul.accordion li.sub-item {
				position: relative;
				&::before {
				  content: '\2022';
				  position: absolute;
				  left: -1.2em;
				  font-size: 1.05em;
				}
			}///li.sub-item


	// Accordion-Title
		ul.accordion li.item a.accordion-title {

		// Before
			&:before {
				content: '';
				position: absolute;
				right: 0;
				width: 20px;
				height: 11px;
				background-image: url(#{$imgpath}/icon/dropdown-default.svg);
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				@include transition(180ms all ease);
				@include breakpoint(large) {
					width: 22px;
					height: 13px;
					right: -2rem;
				}
				@include breakpoint(xlarge) {
					right: -0.5rem;			
				}
				
			}///:before


		// Expanded
			&[aria-expanded="true"] {
				&:before {
					//transform: rotate(180deg);
					transform: scale(1, -1);
				}
			}

		}///.accordion-title


	// Accordion-Content
		ul.accordion-content {
			padding: 0;
			background-color: transparent;
		}///.accordion-content



}///.section-list



