/*
 * Modals
 *
*/


.reveal {

	// Settings
		width: auto;
		overflow: visible;
		border-radius: 8px;
		@include box-shadow(1);
		@include breakpoint(small only) {
			margin: 0 1rem;
			min-height: 0;
			max-height: none;
			height: auto;
		}///small only
		@include breakpoint(medium) {
			@include reveal-modal-width($reveal-width);
		}///medium

	// Close Button
		button.close-button {
			top: -20px;
			right: 5px;
			background: color($inverse);
			border-radius: 80px;
			padding: 10px;
			line-height: 0;
			height: 40px;
			width: 40px;
			@include box-shadow(1);
			@include breakpoint(medium) {
				top: -18px;
				right: -18px;
			}///medium
			@include breakpoint(large) {
				top: -20px;
				right: -20px;
			}///large
			span {
				line-height: 0;
				color: color($default);
			}
		}///button


	}///.reveal
//END


.reveal#vob-holder {
	@include breakpoint(large) {
		max-width: 600px;
	}
}

// Sitelink Reveals
	.sitelink .reveal:not(#vob-holder) {
	
		// Settings
			width: auto;
			margin: 0 1rem;
			text-align: center;
			@include breakpoint(medium) {
				@include reveal-modal-width($reveal-width);
				margin: 0 auto;
			}

		// Title
			h3 {
				text-align: center;
				@include breakpoint(medium) {
					text-align: left;
					font-size: 21px;
				}
			}///h3

		// Paragraph
			p {
				text-align: left;
			}///p


		// Close Button
			button.close-button {
				top: -20px;
				right: 15px;
				@include breakpoint(medium) {
					top: -18px;
					right: -18px;
				}///medium
				@include breakpoint(large) {
					top: -20px;
					right: -20px;
				}///large
			}///button
	


		// Treatment Integrated
			&.treatment--integrated__modal,
			&.creds__modal {
				padding: 2rem 1rem 1rem 1rem;
				@include breakpoint(medium) {
					padding: 2rem 2rem 1rem 2rem;
				}
			}


	}///.reveal


	.reveal.creds__modal {
		padding: 2rem 1rem 1rem 1rem;
		@include breakpoint(medium) {
			padding: 2rem 2rem 1rem 2rem;
		}
	}

// Hero Modal
	.hero__modal.reveal {
		@include breakpoint(medium) {
			line-height: 0.8;
		}
	}