/*
 * Navigation
 *
 * 	Nav
 *  Grid
 *  MobilePhone
 *
 * Facility Nav
 * 
*/


// Nav
	#nav {
		position: fixed;
		width: 100%;
		z-index: 1000;
		@include breakpoint(medium) {
			top: 0;
		}
		@include breakpoint(xxlarge) {
			background-color: color($inverse);
			box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 0.01),
									0 0px 9px 3px rgba(0, 0, 0, 0.08);
		}
		
	}///#nav


// Grid
	#nav .top-bar {
		
		// Settings
			@include xy-grid;
			justify-content: space-between;
			background-color: color($inverse);
			box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.08);
			width: 100%;
			margin: 0 auto;
			height: 61px;
			overflow: hidden;
			@include breakpoint(small only) {
				margin: 0;	
			}
			@include breakpoint(350px) {
				justify-content: space-around;
			}
			@include breakpoint(medium) {
				justify-content: space-between;
				height: 85px;
			}
			@include breakpoint(xxlarge) {
				box-shadow: none;
				max-width: $global-width;
			}
			


		// Left
			.top-bar-left {
				@include breakpoint(small only) {
					@include xy-cell(shrink, true, 0rem);
				}
				@include breakpoint(medium) {
					@include xy-cell(shrink, true, 0rem);
					margin-left: 2rem;
				}
				@include breakpoint(large) {
					@include xy-cell(shrink, false);
					margin-left: 2rem;
				}
				@include breakpoint(xlarge) {
					@include xy-cell(18%, false);
					margin-left: 3rem;			
				}
				@include breakpoint(xxlarge) {
					margin-left: 0;
				}
				
				// Logo
					img.site-logo {
						width: 140px;
						height: auto;
						margin-left: 10px;
						@include breakpoint(350px) {
							width: 168px;
							margin-left: 0px;
						}
						@include breakpoint(medium) {
							width: 232.9px;
							margin-left: 0px;
						}
						@include breakpoint(large) {
							width: 186px;
						}
						@include breakpoint(xlarge) {
							width: 232.9px;			
						}
					}///img.site-logo

				// Alt Logo
					img.alt-logo {
						width: 47px;
					}
			}///.top-bar-left


		// Mid
			.top-bar-mid {
				display: none;
				@include breakpoint(medium) {
					display: block;
					@include xy-cell(auto, false, 0rem);
				}
				@include breakpoint(large) {
					@include xy-cell(auto, false);
				}
				@include breakpoint(xlarge) {
					@include xy-cell(auto, false);			
				}
				
			}///.top-bar-mid


		// Right
			.top-bar-right {
				height: 100%;
				background: color($inverse);
				flex: 0 0 50%;
				margin: 0;
				@include breakpoint(350px) {
					@include xy-cell(shrink, true, 0rem);
				}
				@include breakpoint(medium) {
					@include xy-cell(29%, false, 0rem);
					background: color($primary);
				}
				@include breakpoint(large) {
					@include xy-cell(22.8%, false, 0rem);
				}
				@include breakpoint(xlarge) {
					@include xy-cell(22.5%, false);
				}
			}///.top-bar-right


		// Menu
			.top-bar-mid ul.menu {
				justify-content: center;
				@include breakpoint(medium) {
					justify-content: space-evenly;
				}
				@include breakpoint(large) {
					justify-content: space-evenly;
				}
				@include breakpoint(xlarge) {
					justify-content: flex-end;
				}
				
				li {
					margin: 0 0.5rem;
					@include breakpoint(medium) {
						margin: 0 5px;
					}
					@include breakpoint(large) {
						margin: 0 12.5px;
					}
					&:first-child {
						margin: 0 10px 0 0;
						@include breakpoint(large) {
							margin-left: 1.5rem;
						}
						@include breakpoint(xlarge) {
							margin-left: 0;			
						}
						
					}
				}///li

				li a {
					font-size: 16px;
					padding: 2rem 0.5rem;
					position: relative;
					@include breakpoint(medium) {
						padding: 20px 0px;
					}
					@include breakpoint(large) {
						padding: 20px 0px;
					}
					@include breakpoint(xlarge) {
						padding: 34px 12px;
					}
					&:after {
						content: "";
				    display: block;
				    position: absolute;
				    margin: auto;
				    bottom: 6px;
				    left: 0px;
				    right: 0px;
				    height: 2px;
				    background-color: color($default);
				    transform: scaleX(0);
				    transform-origin: right center;
				    @include transition(all 180ms ease);
				    @include breakpoint(xlarge) {
				    	bottom: 26px;
				    	left: 5px;
				    	right: 5px;
				    }
					}
					&:hover {
						&:after {
							transform: scale(1);
							transform-origin: left center;
						}
					}///:hover
				}///li a

			}///menu


		// Phone
			.top-bar-phone {
				text-align: center;

				&__phone {
					display: flex;
				    align-items: center;
				    justify-content: center;
					height: 100%;
					padding: 12px 0;
					font-weight: 700;
					font-size: 23px;
					color: color($primary);
					@include transition(all 185ms ease);
					@include breakpoint(medium) {
						color: color($inverse);
						letter-spacing: 1.63px;
					}
					@include breakpoint(xlarge) {
						font-size: 26px;			
					}

					&:hover {
						@include breakpoint(small only) {
							background-color: color($inverse);
						}
						background: color($primary);
					}

					span {
						font-size: 16px;
						letter-spacing: 1px;
						display: block;
					}
				}///__phone
			}


	}///.top-bar


// MobilePhone
	#mobilephone {

	}



// Facility Nav
	.facility, .sitelink {

		// Hide Menu for Facility
			#nav .top-bar .top-bar-mid.facility--show-for-large {
				display: none;
				@include breakpoint(large) {
					display: block;
				}
			}///.facility--show-for-large


		// Left
			#nav .top-bar .top-bar-left {
				@include breakpoint(large) {
					@include xy-grid;
				}
				@include breakpoint(xlarge) {
					@include xy-cell(28%, true, 4rem);			
				}
				

				// Arrow
					a.back-arrow {
						margin-left: 3rem;
						@include breakpoint(medium) {
							margin-right: 1.25rem;
							margin-left: 1.5rem;
						}
						@include breakpoint(large) {
							@include xy-cell(20%, true, 0rem);
							margin-right: 1.25rem;
						}
						@include breakpoint(xlarge) {
							@include xy-cell(shrink, true, 0rem);
							margin-right: 2rem;	
						}
						
					}///.back-arrow

				// Logo
					a.logo {
						@include breakpoint(large) {
							@include xy-cell(auto, true, 0rem);
						}
						
					}///.logo

			}///.top-bar-left


		// Right
			#nav .top-bar .top-bar-right {

			}

	}///.facility


// Scroll Nav
	.scroll-nav {

		// Settings	
			position: fixed;
			top: -61px;
			width: 100%;
			height: 61px;
			background-color: color($inverse);
			overflow: hidden;
			@include transition(top 210ms ease);


		// Show
			&.show {
				top: 0;
			}


		// Inner
			.scroll-inner {
				width: 100%;
				position: relative;
				height: 100%;
			}


		// Buttons

			// VOB
				.button--holder.button--holder--0 {
					display: inline-block;
					width: 50%;
					height: 100%;
					text-align: center;

					a.button.button--vob {
						font-size: 16px;
						font-weight: 600;
						padding: 0;
						border: 0px;
						padding: 21px 0px;
						margin: 0;
						&:hover, &:focus {
							@include breakpoint(small only) {
								background: color($inverse);
								color: color($default);
							}
						}///:hover

					}///.button--vob
				}///.button--holder--0

			// PHONE
				.button--holder.button--holder--1 {
					display: flex;
					width: 100%;
					height: 100%;
					background-color: color($primary);

					a.button.button--phone {
						padding: 0;
						align-self: center;
						border-radius: 0px;

						span.phone__label {
							display: block;
							font-size: 16px;
							font-weight: 600;
							width: 100%;
							margin-top: 7px;
						}///.phone__label

						span.phone__phone {
							font-size: 20px;
							@include breakpoint(350px) {
								font-size: 23px;
							}
						}

						.phone__icon img {
							width: 11px;
							@include breakpoint(350px) {
								width: 12px;
							}
						}

						
					}///a.button--phone

				}///.button--holder--1
				


	}///.scroll-nav


