/*
 * Page
 *
*/

html.is-reveal-open {
	overflow-y: visible;
}

body {
	margin: 0;
}

// content
	#content {
		z-index: 0;
	}///#content


// ul
	ul {
		li {
			font-size: 18px;
		}
	}

// Focus
	*:focus {
    outline: none;
   }




// IE10 Stuff
	.show-for-ie {
		display: none;
	}
 	@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {

 		// Show-For-IE
 			.show-for-ie {
 				display: block;
 			}


 		// Locations
	 		body section#locations .card--0 {
	 			display: block;
	 		}


 		// Creds
	 		#creds .inner .grid-x {
	 			width: 100%;

	 			.card.card--creds .card__inner {
	 				display: inline-block;
	 				width: 100%;
	 				.creds-symbol {
	 					display: inline-block;
	 					margin-right: auto;
	 				}
	 				h4 {
	 					margin-right: auto;
	 					margin-left: 0;
	 				}
	 				p {
	 					text-align: left;
	 				}
	 			}///.card__inner
	 		}///.grid-x


	 	// Stats
	 		#stats .circle:before {
	 			content: "79%";
	 			display: block;
	 			font-size: 18px;
	 			font-weight: 700;
	 			color: color($default);
	 		}


	 	// Insurance Facility
	 		#insurance.facility .inner {
	 			display: block;
	 			width: 100%;
	 			position: relative;
	 		}

	 		#insurance.facility .grid-x.grid--insurance {
	 			display: block;
	 			width: 100%;
	 		}

	 		#insurance.facility {
	 			@include breakpoint(medium) {
		 			.card.card--0 {
		 				float: left;
		 			}
			 		.card.card--1 {
			 			float: right;
			 		}
	 			}
		 	}///#insurance.facility

	 		#insurance.facility .grid-x.insurance-grid {
	 			display: flex;
	 		}


	 	// Testimonials
	 		#testimonials .slick-track .slick-slide {
	 			display: block;
	 		}

 	}///IE10