/*
 * Section
 *   Default
 *   
 *  
 *  
 *  
 *  // Baseline Styles //
 *  -Section Title
 * 	-Inverse
 * 	-Bottomline
 * 	
 *
*/

section {

// Default
		padding-top: 2rem;
		padding-bottom: 1rem;
		@include breakpoint(medium) {
			padding-top: 3rem;
			padding-bottom: 2rem;
		}
		@include breakpoint(large) {
			padding-top: 4rem;
			padding-bottom: 3rem;
		}



	///////// BASELINE STYLES //////////

	//-Section Title
		.section-title {
			margin-bottom: 4rem;
		}

	//-Inverse
		&.inverse {
			background-image: linear-gradient(135deg, #6960AB 0%, #259AD6 100%);
		}

	//-Bottomline
		&.bottomline {
			border-bottom: 2px solid color($inverse, 300);
		}

	


}///section