/*
 * Typography
 *
 * 	Headers
 * 	Paragraph
 * 	hr
 * 	
 *
*/




// Headers
	h1, h2, h3, h4, h5 {
		color: color($default);
		margin-bottom: 1rem;
		&.inverse {
			color: color($inverse);
		}
		&.left {
			text-align: left;
		}
		&.center {
			text-align: center;
		}
		&.right {
			text-align: right;
		}
		&.default {
			color: color($default);
		}
		&.primary {
			color: color($primary);	
		}
		&.secondary {
			color: color($secondary);
		}
	}

	h2 {
		color: color($secondary);
		@include breakpoint(large) {
			line-height: 50px;
		}
	}

	h3, h4 {
		font-weight: 700;
	}

	h4 {
		text-transform: uppercase;
	}


// Paragraph
	p {
		font-size: 16px;
		line-height: 32px;
		@include breakpoint(large) {
			font-size: 18px;		
		}
		&.inverse {
			color: color($inverse);
		}
		&.left {
			text-align: left;
		}
		&.center {
			text-align: center;
		}
		&.right {
			text-align: right;
		}
	}


// hr
	hr {
		display: none;
		@include breakpoint(medium) {
			display: block;
			width: 50px;
			height: 2px;
			background: color($inverse, 300);
			border: 0px;
			margin: 0;
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
		@include breakpoint(large) {
			width: 60px;
		}
	}


// span
	span {
		&.inverse {
			color: color($inverse);
		}
		&.left {
			text-align: left;
		}
		&.center {
			text-align: center;
		}
		&.right {
			text-align: right;
		}
		&.default {
			color: color($default);
		}
		&.primary {
			color: color($primary);	
		}
		&.secondary {
			color: color($secondary);
		}
	}


// Dual
	#dual {
		h3, h2, p {
			text-align: center;
			@include breakpoint(medium) {
				text-align: left;
			}
		}
	}


// Keywords
	.keywords--header {
		text-transform: capitalize;
	}

	.keywords--paragraph {
		
	}



