// VARS

	// Google font import
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

	// Form text variables 
		$form-text: color($default);
		$form-font: 'Open Sans', sans-serif;

	// Form color variables
		$form-button-color: color($primary);
		$form-border-color: #CFCFCF;
		$form-border-color-focus: #287EE2;
		$form-background-color: #F7F7F7;
		$form-background-color-alt: $white;
		$form-tooltip: #393939;
		$input-placeholder-color: #8E8E8E;

	// Form MISC variables
		$form-logo: url("../img/logo.svg");
		$form-border-radius: 3px;
		$form-spacing: rem-calc(8px);//used form margin and padding throughout the file 
		$form-shadow: 0px 2px 5px rgba(0,0,0,0.2);

	// specific overrides from the settings file 
		$tooltip-background-color: $white;
		$tooltip-radius: $form-border-radius;
		$has-tip-border-bottom: none;
		$tooltip-color: $form-text;
		$tooltip-padding: $form-spacing * 2; 

	// SPACING
		$spacing--xs: 1rem; //16px
		$spacing--sm: 1.5rem; //24px
		$spacing--md: 2rem; //32px
		$spacing--lg: 3rem; //48px
		$spacing--xl: 4rem; //64px
		$spacing--xxl: 5rem; //80px
		$spacing--xxxl: 6rem; //96px

	// OTHER
		$box-shadow-1: 2px 4px 8px rgba(0,0,0,.20);
		$box-shadow-2: 4px 8px 16px rgba(0,0,0,.20);
		$border-radius: 8px;
		$line-height-md: 2rem; 
		$line-height-sm: 1.875rem;
		$container: 1440px;
		$gradient-1: linear-gradient(43deg, #3C4755 0%, #2D3D51 100%);

	//inner class 
		@mixin inner ($max-width: $container) {
		  @if $max-width {max-width: $max-width;}
		  margin-left: auto;
		  margin-right: auto;
		  position: relative;
		  width: 100%;
		  @include innerpadding;
		}

		@mixin innerpadding($p-small: $spacing--sm,$p-medium: $spacing--md, $p-large: $spacing--lg, $p-xlarge: $spacing--xl ,$p-xxlarge: $spacing--xxxl) {
		  @include breakpoint(small) {
		      padding-left: $p-small;
		      padding-right: $p-small;
		  }
		  @include breakpoint(medium) {
		      padding-left: $p-medium;
		      padding-right: $p-medium;
		  }
		  @include breakpoint(large) {
		      padding-left: $p-large;
		      padding-right: $p-large;
		  }
		  @include breakpoint(xlarge) {
		      padding-left: $p-xlarge;
		      padding-right: $p-xlarge;
		  }
		  @include breakpoint(xxlarge) {
		      padding-left: $p-xxlarge;
		      padding-right: $p-xxlarge;
		  }
		}//end inner padding

// DEFAULT STYLES
	#vob-holder{
		background: $form-background-color;
		font-family: $form-font;
		font-weight: 400;
		color: $form-text;
		padding-top: $form-spacing * 4;
		
		h1, h2, h3, h4,h5 {
			font-family: $form-font;
			font-weight: 600;
			line-height: 1.2;
		}//end headings 
		
		h3 {
			font-size: rem-calc(24px);
			margin-bottom: $form-spacing;
		}//end h3 
		
		h5 {
			font-size: rem-calc(16px);
			margin: $form-spacing * 2 0; 
		}///end h5 
		
		label > h5 {margin: 8px 0;}///change margin for h5s inside label 
		
		input, textarea, select {
			border-color: $form-border-color;
			border-radius: $form-border-radius;
			&:focus {
				border-color: $form-border-color-focus;
			}//end focus 
		}//end input 
		
		[type='radio'] {margin-bottom: 0;}///removing margin on the bottom of the radiu buttons 
		
		.optional {
			color: #8E8E8E;
		}//end optional 
		
		.brand_block {
			background-image: $form-logo;
			display: block;
			position: relative;
			margin: 0 auto;
			height: 75px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			&.right {

				@include breakpoint (small only) {
					margin-top: $form-spacing * 2;
				}//end small only breakpoint
			}//end brand_block.right
		}///.brand_block

		.button {
			&--secure {
				background-image: url("../img/vob/lock.png");
				background-size: 20px;
				background-repeat: no-repeat;
				background-position: 15% center;
				margin: 0;
				padding: $spacing--xs $spacing--sm;
				padding-left: $form-spacing * 8 !important;
				background-color: get-color(secondary);
				border-radius: $form-border-radius;
				font-size: rem-calc(22px);
				font-weight: 700;
				box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
				border: none;
					@include breakpoint(small only){
						margin-left: auto;
						margin-right: auto;
						display: block;
					}///end small device breakpoint 
			}//end secure 
		}///.button
		
		.inner {
			padding: $form-spacing * 4 $form-spacing * 6;
			max-width: 600px;
			margin: auto;
			position: relative;
			
				&.alt {
					background: $form-background-color-alt;
				}///.alt
			
				@include breakpoint(small only){
					padding: $form-spacing * 4 $form-spacing * 2;
				}///end small device breakpoint 

				h5.clock-icon{
					position: relative;
					padding-left: 3rem;
					&:before{
						content:'';
						position: absolute;
						background-image: url("../img/vob/clock.svg");
						background-repeat: no-repeat;
						height: 32px;
						width: 32px;
						display: block;
						left: 0;
						top: -6px;
					}//end before
				}///h5.clock-icon
		}///.inner
		
		.has-tip {
			border: none;
		}///.has-tip
		

		.form-tool-tip {
			margin: 0 $form-spacing;
			text-decoration: none;
		}//end form-tool-tip

		#additional-fields {
			display: block;
		}////hidden conditional fields 

		.patient-reveal, .contact-reveal {
			display: none;
		}///.patient-reveal

		form.left-align{
			@include inner;
			.inner{
				margin: 0 auto 0 0;
				max-width: none;
			}///.inner
		}///form.left-align
	}///#vob-holder 

	// Tooltip
		.tooltip {
			box-shadow: $form-shadow;
			background: $white; 
			z-index: 999999;
			&::before {
				content: none !important;
			}///:before
		}///.tooltip


// OVERRIDE STYLES
	

	// Logo / Brand_block Bottom
		#vob-holder .brand_block {
			width: 260px;
			height: 70px;
			@include breakpoint(medium) {
				width: 360px;
			}

			&.right {
				@include breakpoint(small only) {
					width: 180px;
				}
				@include breakpoint(medium) {
					width: 220px;
				}
				@include breakpoint(large) {
					width: auto;
				}
			}///.right

		}///.brand_block

		.cell .brand_block {
			width: auto;
			height: auto;
		}

	// Inner--submit
		.inner.inner--submit {
			.cell {
				align-self: center;
			}
		}
