/*
*
* Layouts
*
*
*/


// Sitelink
	body.sitelink {


		// Content
			#content {
				@include breakpoint(medium) {
					margin-top: 85px;
				}
			}///#content

		
		// Page Title
			section.page-title {

				// Settings
					padding: 0;
					padding-top: 91px;
					@include breakpoint(medium) {
						padding-top: 3rem;
					}
					@include breakpoint(large) {
						padding-top: 4rem;
					}

				// Section-title
					.section-title {
						color: color($default);
						text-align: center;
						margin-bottom: 0;
						@include breakpoint(large) {
							font-size: 30px;
						}
						@include breakpoint(xlarge) {
							font-size: 40px;
							line-height: 48px;
						}
					}///.section-title
			
			}///.page-title
			
	}///body.sitelink 
