/*
 * Alumni
 *
*/

	
#alumni {

	// Settings


	// Inner
		.inner {
			@include xy-grid;
			@include breakpoint(large) {
				@include xy-gutters(6rem);
			}
			@include breakpoint(xlarge) {
				@include xy-gutters(7rem);
				margin: 0 auto;	
			}
			
		}///.inner



	// Cards

		// Card
			.card {
				padding: 0;
				@include xy-cell(100%, true, 2rem);
			}

		// Card--0
			.card.card--0 {
				order: 1;
				@include breakpoint(medium) {
					order: 0;
					@include xy-cell(50%, true, 2rem);
				}
				@include breakpoint(xlarge) {
					padding-right: 2rem;			
				}
				@include breakpoint(xxlarge) {
					padding-right: 3rem;
				}
				
				
			}///.card--0

		// Card--1
			.card.card--1 {
				position: relative;
				order: 0;
				overflow: hidden;
				border-radius: 8px;
				height: 230px;
				background: url(#{$imgpath}/lc.jpg) no-repeat center/cover;
				margin-bottom: 2rem;
				@include breakpoint(medium) {
					align-self: center;
					order: 1;
					@include xy-cell(50%, true, 2rem);
				}
				@include breakpoint(large) {
					height: 280px;
				}
				@include breakpoint(xlarge) {
					height: 390px;
				}

				// Before
					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background: rgba(0,0,0,0.5);
					}///:before


				// After Image
					&:after {
						content: '';
						position: absolute;
						width: 75%;
						height: 75%;
						left: 12.5%;
						top: 12.5%;
						background: url(#{$imgpath}/lc-logo.png) no-repeat center/contain;
						@include breakpoint(large) {
							width: 60%;
							height: 60%;
							left: 20%;
							right: 20%;
						}
						@include breakpoint(xlarge) {
							width: 75%;
							height: 75%;
							left: 12.5%;
							top: 12.5%;
						}
					}///:after

			
			}///.card--1



	// Header
		h3 {
			font-size: 18px;
			text-align: center;
			@include breakpoint(medium) {
				text-align: left;
			}
			@include breakpoint(xlarge) {
				font-size: 26px;
			}
		}///h3

	// Subhead
		h2 {
			font-size: 24px;
			line-height: 32px;
			text-align: center;
			@include breakpoint(medium) {
				text-align: left;
			}
			@include breakpoint(xlarge) {
				font-size: 40px;			
				line-height: 50px;
			}
			
		}///h2

	// Paragraph
		p.card__paragraph {
			margin-bottom: 0;
		}

}///#alumni


