/*
 * Assessment
 *
*/


// Assessment
	
#assessment {

	// Settings
		position: relative;
		background: transparent;
		padding-top: calc(2rem + 10px);
		@include breakpoint(medium only) {
			padding-top: 2rem;
		}
		@include breakpoint(xlarge) {
			padding-top: calc(3rem + 10px);			
		}
		
		

	// Gradient Bar
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 10px;
				width: 100%;
				background-image: linear-gradient(135deg, #6960AB 0%, #259AD6 100%);
				z-index: -1;
				
			}///:before


	// Callouts
		.callout {
			text-align: center;
			padding: 2rem 3rem;
			@include breakpoint(medium) {
				padding: 2rem;
			}
		}


	// Background
		.bg--assessment {
			top: 0;
			left: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: -1;

			&:before, &:after {
					content: '';
					position: absolute;
					top: 10px;
					right:0;
					width: 100%;
					height: 100%;
					overflow: hidden;
					@include breakpoint(medium) {
						height: calc(100% - 10px);
					}
				}

			&:before {
					background-image: url(#{$imgpath}/assessment.jpg);
					background-position: top center;
					background-size: 980px;
					background-repeat: no-repeat;	
					@include breakpoint(medium) {
						background-position: center;
						background-size: cover;
					}
					@include breakpoint(large) {
						background-position: center;
						background-size: cover;
					}
					@include breakpoint(xlarge) {
						background-position: center top;			
					}
					
				}///:before

				&:after {
					background: rgba(0,0,0,0.55);
					background-image: linear-gradient(180deg, rgba(255,255,255,0.00) 0%, #000000 68%);
					@include breakpoint(medium) {
						background: rgba(#000, 0.6);	
					}
				}///:after
		}///.bg--assessment


	// Header
		h2.section-title {
			margin-bottom: 1rem;
			@include breakpoint(xlarge) {
				margin-bottom: 2rem;			
			}
			
		}///h2.section-title
	

	// Section-Paragraph
		p.section-paragraph {
			max-width: 680px;
			margin: 1rem auto;
			margin-bottom: 1.5rem;
			text-align: left;
			@include breakpoint(medium) {
				text-align: center;
			}
			@include breakpoint(large) {
				margin-top: 0;
				margin-bottom: 2.75rem;
			}
			@include breakpoint(xlarge) {
				margin-bottom: 2rem;			
			}
			
		}///p


	// Callout Paragraph
		.callout p {
			font-size: 16px;
			margin-bottom: 1.7rem;
		}///.callout p


	// Buttons
		a.button {
			width: 100%;
			line-height: 22px;
			padding: 10px 20px;
			@include breakpoint(medium) {
				width: 244px;
			}
			&:hover {
				background-color: #524B87;
			}
		}///a.button


}///#assessment


