/*
 * Creds
 *
*/


#creds {

	// Settings
		@include breakpoint(large) {
			padding-top: 3rem;
		}


	// Inner
		.inner {
			@include xy-grid;
		}


	// Intro
		.section-intro {
			@include xy-cell(100%, true, 2rem);
			color: color($inverse);
			text-align: center;

			// Header
				h2 {
					color: color($inverse);
					@include breakpoint(medium) {
						font-size: 30px;
					}
					@include breakpoint(xlarge) {
						font-size: 40px;			
					}
					
				}///h2

			// Paragraph
				p {
					margin-bottom: 2rem;
					@include breakpoint(medium) {
						font-size: 18px;
						padding: 0 1rem;
					}
					@include breakpoint(large) {
						max-width: 747px;
						margin-left: auto;
						margin-right: auto;
					}
				}///p
		
		}///.section-intro


	// Grid
		.grid-x {

		}///.grid-x


	// Cards
		.card.card--creds {
			padding: 1rem;
			@include xy-cell(100%, true, 2rem);
			@include breakpoint(large) {
				@include xy-cell(100%, true, 4rem);
				margin-bottom: 2rem;
				padding: 2rem;
			}
			@include breakpoint(xlarge) {
				@include xy-cell(100%, true, 6rem);
			}
		}///.card


	// Card Inner/Pieces
		.card__inner {
			@include xy-grid;
		}

		// Symbol
			.creds-symbol {
				@include xy-cell(100%, true, 0rem);
				margin-bottom: 1rem;
				text-align: center;
				@include breakpoint(medium) {
					@include xy-cell(shrink, true, 1rem);
					margin-left: 0;
				}
			}///.creds-symbol

		// Cred Title
			h4 {
				@include xy-cell(100%, true, 0rem);
				text-transform: none;
				@include breakpoint(medium) {
					@include xy-cell(60%, true, 3rem);
					align-self: center;
				}
				@include breakpoint(large) {
					@include xy-cell(80%, true, 3rem);
					font-size: 22px;
				}
			}///h4


		// Cred Paragraph
			p {
				font-size: 18px;
				margin-bottom: 0.5rem;
			}


	// Symbol JointComission
		.img--jointcommission {
			max-width: 90px;
		}

	

}///#creds



// Sitelink Creds
#creds,
.sitelink #creds
 {



	// Settings
		@include breakpoint(medium) {
			padding-bottom: 0;
		}


	// Intro
		.section-intro p {
			@include breakpoint(xlarge) {
				max-width: 1100px;				
			}
			@include breakpoint(xxlarge) {
				max-width: 1250px;
			}
			
		}///p


	// Grid
		.grid-x {
			@include breakpoint(medium) {
				@include xy-gutters(4rem);
				align-items: stretch;
			}
			@include breakpoint(large) {
				@include xy-gutters(20rem);
			}
			@include breakpoint(xlarge) {
				@include xy-gutters(0rem);
				max-width: 1100px;
				margin: 0 auto;			
			}
			@include breakpoint(xxlarge) {
				max-width: 1250px;
			}
		}///.grid-x


	// Cards
		.card.card--creds {
			text-align: center;
			@include xy-cell(100%, true, 6rem);
			padding: 2rem 1rem;
			@include box-shadow(1);
			@include breakpoint(medium) {
				@include xy-cell(50%, true, 3rem);
				margin-bottom: 3rem;
			}
			@include breakpoint(xlarge) {
				@include xy-cell(25%, true, 2rem);
			}

			&:hover{
				@include breakpoint(large) {
					cursor: pointer;
				}
			}

			// &:last-child {
			// 	@include breakpoint(small only) {
			// 		margin-bottom: 1rem;	
			// 	}
			// }///:last-child


		}///.card


	// Symbol
		.creds-symbol {
			@include breakpoint(medium) {
				@include xy-cell(100%, true, 2rem);
			}
		}///.creds-symbol


	// Title
		h4 {
			font-size: 22px;
			@include breakpoint(medium) {
				@include xy-cell(100%, true, 0rem);
			}
		}///h4


	// More Info Button
		span.cred-button {
			margin: 0 auto;

			span.text {
				text-transform: uppercase;
				vertical-align: middle;
			}

			.icon {
				display: inline-block;
				margin-left: 4px;
				vertical-align: middle;
				@include box-shadow(1);
				border-radius: 100px;
				padding: 5px;
			}
		}
		



}///#creds
///Sitelink Creds


