/*
 * Faq
 *
*/


#faq {

	// Settings
		padding-top: 3rem;
		padding-bottom: 2rem;


	// Header
		h2 {
			margin-bottom: 2.5rem;
			@include breakpoint(medium) {
				margin-bottom: 3rem;
			}
		}


	// Accordion
		.accordion {
			background: none;
			@include xy-cell(100%, true, 2rem);
			@include breakpoint(medium) {
				@include xy-cell(100%, true, 4rem);
			}
			@include breakpoint(large) {
				@include xy-cell(100%, true, 8rem);
			}
		}

	// Accordion Items
		li.accordion-item {
			background: color($inverse);
			border-radius: 8px;
			margin-bottom: 1rem;
			@include box-shadow(1);
			@include breakpoint(medium) {
				margin-bottom: 2rem;
			}

			&:last-child {
				margin-bottom: 1rem;
			}

			// Active
				&.is-active {
					.accordion-title:before {
						transform: rotate(180deg);
					}
				}///.is-active
		}///.accordion-item


	// Accordion Title
		.accordion-title {
			font-size: 18px;
			font-weight: 700;
			line-height: 32px;
			padding: 1rem 3.5rem 1rem 1rem;
			@include breakpoint(medium) {
				@include transition(all 180ms ease);
				padding: 1rem 3.5rem 1rem 2rem;
			}
			@include breakpoint(large) {
				font-size: 22px;
			}
			@include breakpoint(xlarge) {
				font-size: 26px;			
			}

		// Hover/Focus
			&:hover,&:focus {
				border-radius: 8px;
			}///:hover:focus

			&:hover {
				background: shade(color($inverse), 5%);
			}

		// Before
			&:before {
				content: '';
				position: absolute;
				right: 1rem;
				width: 22px;
				height: 13px;
				background-image: url(#{$imgpath}/icon/dropdown.svg);
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				@include breakpoint(medium) {
					right: 1.5rem;
				}
				@include breakpoint(large) {
					width: 26px;
					height: 16px;
				}
			}///:before

		}///.accordion-title


	// Accordion Content
		.accordion-content {
			border-radius: 8px;
		}

}