/*
 * footer-cta
 * 
*/


#footer-cta {
	
	// Settings
		

	// Inner
		.inner {
			@include xy-grid;
			@include breakpoint(medium) {
				@include xy-gutters(6rem);
				margin-bottom: 1rem;
			}
			@include breakpoint(large) {
				@include xy-gutters(10rem);
			}
			@include breakpoint(xxlarge) {
				margin-left: auto;
				margin-right: auto;
			}
			
		}///.inner
		

	// Cards
		.card {
			background: transparent;
			border-radius: 0;
			padding: 0;
			margin-bottom: 0;
			@include xy-cell(100%, true, 2rem);
			@include breakpoint(medium) {
				align-self: center;
			}

				&--0 {
					@include breakpoint(medium) {
						@include xy-cell(50%, true, 2rem);
					}
					@include breakpoint(xlarge) {
						margin-left: 0;			
					}
					
				}///&--0

				&--1 {
					@include breakpoint(medium) {
						@include xy-cell(50%, true, 2rem);
						text-align: right;
						overflow: visible;
					}
					@include breakpoint(xlarge) {
						margin-right: 0;			
					}
					
				}///.card--1

		}///.card


	// Header
		h3 {
			font-size: 24px;
			font-weight: 700;
			color: color($inverse);
			text-align: center;
			margin-bottom: 2rem;
			@include breakpoint(medium) {
				font-weight: 600;
				text-align: left;
				margin-bottom: 0;
			}
			@include breakpoint(large) {
				font-size: 30px;
			}
			@include breakpoint(xlarge) {
				font-size: 40px;			
			}
		}///h3


	// Button
		.button.button--phone {
			color: color($inverse);
			background: transparent;
			padding: 0;
			border: 0px;
			margin-bottom: 1rem;
			@include breakpoint(medium) {
				margin-bottom: 0;
				align-self: flex-end;
			}
			@include breakpoint(xlarge) {
				font-size: 48px;			
			}
			@include breakpoint(xxlarge) {
				font-size: 64px;
			}
			
			// Icon
				.icon {
					width: 16px;
					padding-bottom: 2px;
					@include breakpoint(large) {
						width: 20px;
						padding-bottom: 3px;
					}
					@include breakpoint(xlarge) {
						width: 24px;
						padding-bottom: 4px;			
					}
					@include breakpoint(xxlarge) {
						width: 30px;
						padding-bottom: 6px;
					}
					
					
				}

		}///.button--phone

}///#footer-cta






