/*
 * Get Help
 *
*/


#gethelp {

	// Settings
		

	// Intro
		.section-intro {
			@include xy-cell(100%, true, 2rem);
			@include breakpoint(medium) {
				@include xy-cell(100%, true, 6rem);
			}
			@include breakpoint(xlarge) {
				max-width: 900px;
				margin: 0 auto;			
			}
			
			@include breakpoint(xxlarge) {
				max-width: 1050px;			
			}
			

			// Header
				h2 {
					margin-bottom: 1rem;
					@include breakpoint(medium) {
						margin-bottom: 2rem;
					}
					@include breakpoint(xlarge) {
						font-size: 34px;			
					}
					@include breakpoint(xxlarge) {
						font-size: 40px;
					}
					
					
				}///h2

			// Paragraph
				p {
					text-align: left;
					margin-bottom: 2rem;
					@include breakpoint(medium) {
						text-align: center;
					}
					@include breakpoint(large) {
						margin-bottom: 3rem;			
					}
					
				}///p
		
		}///.section-intro


	// Card--0 
		.card.card--0 {
			padding: 0;
			@include xy-cell(100%, true, 2rem);
			margin-bottom: 0;
		}


	// Step
		
		// Inner
			.step__inner {
				@include xy-grid;
				@include breakpoint(medium) {
					max-width: 700px;
					margin: 0 auto;
				}
				@include breakpoint(large) {
					max-width: 760px;
				}
			}

		// Img	
			.step__img {
				@include xy-cell(15%, true, 0rem);
				height: auto;
				margin-bottom: 1rem;
				align-self: center;
				@include breakpoint(medium) {
					@include xy-cell(shrink, true, 4rem);
					width: 64px;
					height: auto;
					object-fit: cover;
					align-self: flex-start;
					position: relative;
				}

				// Before
					&:before {
						content: '';
						display: none;
						position: absolute;
						right: -2px;
						bottom: -4px;
						width: 22px;
						height: 22px;
						background-image: url(#{$imgpath}/icon/check.svg);
						background-position: center;
						background-size: cover;
						background-repeat: no-repeat;
						@include breakpoint(medium) {
								display: inline-block;
							}	
						@include breakpoint(large) {
							right: -1px;
							bottom: -6px;
						}
						@include breakpoint(xlarge) {
							width: 28px;
							height: 28px;
							left: 43px;
							bottom: -12px;
						}
					}///:before

			}///.step__img
		
		// Header
			h3.step__header {
				@include xy-cell(auto, true, 0rem);
				margin-left: 1rem;
				align-self: center;
				@include breakpoint(medium) {
					margin: 0;
					margin-bottom: 1rem;
				}
				@include breakpoint(large) {
					font-size: 18px;
				}
				@include breakpoint(xlarge) {
					font-size: 22px;			
				}
				@include breakpoint(xxlarge) {
					font-size: 26px;
				}
				
				
			}///h3

		// Paragraph
			p.step__paragraph {
				margin-bottom: 2rem;
				font-size: 16px;
			}///p


		// Content
			.step__content {
				@include xy-cell(auto, true, 2rem);
			}


	// Card--1 / Matched
		.card.card--1 {
			
			// Settings
				padding: 0;
				@include xy-cell(100%, true, 1rem);
				@include xy-grid;
				margin-bottom: 2rem;
				@include breakpoint(medium) {
					justify-content: space-evenly;
					max-width: 486px;
					margin: 0 auto;
					margin-bottom: 3rem;
				}

			// Cards
				
				// matched__img
					.matched__img {
						@include xy-cell(shrink, true, 1rem);
						align-self: center;
						width: auto;
						@include breakpoint(medium) {
							@include xy-cell(shrink, true, 2rem);
						}
						@include breakpoint(large) {
							@include xy-cell(40%, true, 1rem);
						}

						img {
							width: 120px;
							@include breakpoint(medium) {
								width: 148px;
							}
							@include breakpoint(large) {
								width: 164px;
							}
						}
					}///.matched__img

				// matched__content
					.matched__content {
						@include xy-cell(auto, true, 1rem);
						@include breakpoint(medium) {
							@include xy-cell(shrink, true, 1rem);
						}
						@include breakpoint(large) {
							@include xy-cell(50%, true, 1rem);
						}
					}///.matched__content


			// Header
				h3 {
					font-size: 18px;
					@include breakpoint(xlarge) {
						font-size: 26px;			
					}
				}///h3


			// Paragraph
				p.matched__list  {
					margin-bottom: 0;
					span {
						line-height: 32px;
						display: block;
						margin-bottom: 0rem;
						@include breakpoint(large) {
							margin-bottom: 0.5rem;
						}
						&:after {
							content: '';
							position: relative;
							display: inline-block;
							width: 14px;
							height: 11px;
							margin-left: 9px;
							background: url(#{$imgpath}/icon/check-small.svg) center/cover no-repeat;
							@include breakpoint(medium) {
								margin-left: 8px;
							}
						}///:after
					}///span
				}///p


		}///.step--matched


}///#gethelp






