/*
 * Hero
 * 	Settings
 * 	Inner
 * 	Card
 * 	Image
 * 	Header
 * 	Paragraph
 *
 * Facility
*/


#hero {
	
	// Settings
		position: relative;
		@include breakpoint(small only) {
			padding-bottom: 2rem;
		}
		@include breakpoint(medium) {
			padding: 0;
		}
		@include breakpoint(large) {
			padding: 0;
		}


	// Inner
		.inner.inner--hero {
			@include breakpoint(small only) {
				z-index: 10;	
			}
			@include breakpoint(medium) {
				overflow-x: hidden;
			}
			
		}///.inner


	// Card
		.inner>.card:nth-child(1) {
			margin-top: 12.6rem;
			margin-bottom: 0;
			padding: 3rem 1rem 3rem 1rem;
			@include box-shadow(1);
			@include xy-cell(100%, true, 1rem);
			@include breakpoint(350px) {
				@include xy-cell(100%, true, 2rem);
			}
			@include breakpoint(medium) {
				@include xy-cell(50%, true, 0rem);
				box-shadow: none;
				margin-top: 85px;
				margin-bottom: 40px;
				padding-top: 3rem;
				padding-right: 3rem;
				padding-left: 2rem;
				padding-bottom: 0;
			}
			@include breakpoint(large) {
				@include xy-cell(53%, true, 0rem);
				padding-left: 0;
				padding-right: 20px;
				padding-top: 4rem;
				margin-bottom: 4rem;
			}
			@include breakpoint(xlarge) {
				@include xy-cell(50%, true, 0rem);
				padding-left: 0;
				padding-right: 3.5rem;
				padding-top: 5rem;
			}
			@include breakpoint(xxlarge) {
				padding-right: 5.2rem;
				margin-bottom: 5rem;
			}
			
		}///card:nth-1

		.inner>.card:nth-child(2) {
			margin: 0;
			padding: 0;
		}///card:nth-2

	// Image
		.card--img {
			margin: 0;
			padding: 0;
			height: 290px;
			width: 100%;
			position: absolute;
			top: 0;
			border-radius: 0;
			@include breakpoint(medium) {
				position: static;
				height: 0;
				width: 0;
			}
			&:before {
				content: '';
				position: absolute;
				top:0;
				right:0;
				width: 100%;
				height: 100%;
				overflow: hidden;
				background-image: url('../img/hero.jpg');
				background-position: center -3px;
				background-size: cover;
				background-repeat: no-repeat;	
				@include breakpoint(medium) {
					width: 50%;				
					background-position: center bottom;
					background-size: cover;
					background-position: center top;
				}
				@include breakpoint(large) {
					width: 47%;
					background-size: 125%;
					background-position: -18px bottom;
				}
				@include breakpoint(xlarge) {
					width: 50%;
					background-size: 100%;
					background-position: center top;
				}
			}///:before

		}///.card--img


	// Video
		.card--video {
			@include breakpoint(small only) {
				width: 100%;
				left: 0;
			}
			position: absolute;
	    right: 0;
			top: 61px;
	    height: 210px;
	    padding: 0;
	    border-radius: 0;
	    background-image: url('../img/video-thumb.jpg');
			background-position: center 0px;
			background-size: cover;
			background-repeat: no-repeat;	
			@include breakpoint(medium) {
				top: 85px;
				height: calc(100% - 85px);
			}

			&:hover {
				cursor: pointer;
				opacity: 0.96;
				
				.video__cta {
					cursor: pointer;
					background-color: shade(color($inverse), 5%);
				}
			}
		}///.card--video


	// Video CTA
		.card--video .video__cta {
			@include breakpoint(small only) {
				position: relative;
				margin-left: auto;
				margin-right: auto;
				margin-top: 155px;
				padding: 0.7rem;
				bottom: 4rem;
			}
			position: absolute;
	    padding: 1rem;
	    bottom: 1rem;
	    align-self: center;
	    border-radius: $global-radius;
	    background: color($inverse);

	    &:hover {
	    	cursor: pointer;
	    	background-color: shade(color($inverse), 5%);
	    }

	    span {
	    	font-size: 14px;
	    	font-weight: 600;
	    	vertical-align: middle;
	    	@include transition(all 180ms ease);
	    	@include breakpoint(350px) {
	    		font-size: 16px;
	    	}
	    	@include breakpoint(large) {
	    		font-size: 18px;
	    		font-weight: 700;
	    	}
	    	@include breakpoint(xlarge) {
	    		font-size: 22px;
	    	}
	    }///span

	    .play-button {
	    	margin-left: 1rem;
	    }
		}///.video__cta


	// Header
		h1 {
			margin-bottom: 2rem;
			@include breakpoint(small only) {
				margin-left: 1rem;
				margin-right: 1rem;
			}
			@include breakpoint(medium) {
			}
			@include breakpoint(large) {
				margin-bottom: 2rem;
			}
		}///h1

	// Paragraph
		p {
			margin: 0 1rem;
			margin-bottom: 2rem;
			@include breakpoint(medium) {
				margin: 0;
				margin-bottom: 2rem;
			}
		}

	//Branding
		&.branding {
			h1 {
				margin-bottom: 1rem;
			}
			h2 {
				@include breakpoint (small only) {
					margin-left: 1rem;
					margin-right: 1rem;
				}//end small only breakpoint
			}
		}

	//Insurance Keywords
		.card--insurance-keywords {
			h1 {
				margin-bottom: 1rem;
				line-height: 1;
			}

			h2 {
				font-size: 1.75rem;
				line-height: 2.4rem;

				@include breakpoint (medium only) {
					font-size: 1.5rem;
					line-height: 2rem;
				}//end medium only breakpoint

				@include breakpoint (small only) {
					font-size: 1.25rem;
					line-height: 1.5rem;
					margin-left: 1rem;
					margin-right: 1rem;
				}//end small only breakpoint
			}
		}

}///#hero