/*
 * Insurance
 *
*/

#insurance {

	// Settings
		padding-bottom: 0;
		@include breakpoint(medium) {
			background-color: color($inverse, 200);
			padding-bottom: 3rem;
		}
		@include breakpoint(large) {
			padding-top: 3rem;
		}


	// Header
		h2.section-title {
			@include xy-cell(100%, true, 0rem);
			font-size: 24px;
			color: color($default);
			margin-bottom: 2rem;
			text-align: center;
			@include breakpoint(medium) {
				margin-bottom: 3rem;
			}
			@include breakpoint(large) {
				font-size: 30px;
			}
			@include breakpoint(xlarge) {
				font-size: 40px;			
			}
		}///h2


	// Grid
		.grid-x.grid-x--insurance {
			@include breakpoint(medium) {
				margin-bottom: 3rem;
			}
			@include breakpoint(xlarge) {
				max-width: 1040px;
				margin-left: auto;
				margin-right: auto;
			}
			
		}///.grid-x


	// Cards
		
		// Card
			.card {
				padding: 0;
				background: transparent;
			}

		// Card--0
			.card.card--0 {
				margin-bottom: 0;
				@include breakpoint(small only) {
					@include xy-cell(100%, true, 2rem);
				}
				@include breakpoint(medium) {
					@include xy-cell(50%, true, 6rem);
					align-self: center;
				}
				@include breakpoint(large) {
					@include xy-cell(50%, true, 4rem);
					padding-left: 2rem;
				}
				@include breakpoint(xlarge) {
					@include xy-cell(40%, true, 8rem);
					padding: 0;
				}
				@include breakpoint(xxlarge) {
					@include xy-cell(35%, true, 8rem);
					margin-left: 0;
				}
			}///--0

		// Card--1
			.card.card--1 {
				margin-bottom: 2rem;
				@include breakpoint(small only) {
					@include xy-cell(100%, true, 2rem);
				}
				@include breakpoint(medium) {
					@include xy-cell(50%, true, 8rem);
					align-self: center;
					margin-bottom: 0;
				}
				@include breakpoint(large) {
					@include xy-cell(50%, true, 8rem);
					padding-right: 0;
				}
				@include breakpoint(xlarge) {
					@include xy-cell(20%, true, 8rem);
				}
			}///.card--1


	// Paragraph
		p.section-paragraph {
			font-size: 16px;
			margin: 0 1rem;
			margin-bottom: 2rem;
		}


	// Insurance Logos
		.cell.cell--insurance {
			padding: 1.4rem 1rem;
			@include breakpoint(medium) {
				padding: 1.2rem 1rem;
			}
			@include breakpoint(large) {
				padding: 1.5rem 1rem;
			}
		}///.cell.cell--insurance


	// Fix Padding on Insurance Logos
		.card--1 .grid-x:first-child .cell:nth-child(-n+2) {
			padding-top: 0;
		}

		.card--1 .grid-x:nth-child(2) .cell:nth-last-child(-n+2) {
			padding-bottom: 0;
		}



// FACILITY
&.facility {

	// Settings
		background: color($inverse);
		padding-top: 4rem;
		@include breakpoint(medium) {
			padding-bottom: 1rem;
		}
		@include breakpoint(xlarge) {
			padding-bottom: 3rem;			
		}	


	// Inner
		.inner {
			@include xy-grid;
		}


	// Intro
		.section-intro {
			@include xy-cell(100%, true, 2rem);
		}


	// Cards
		.card--0 {
			margin-bottom: 2rem;
			@include breakpoint(medium) {
				margin-bottom: 0;
				@include xy-cell(58%, true, 6rem);
			}
			@include breakpoint(large) {
				@include xy-cell(58%, true, 4rem);
				padding: 0;
			}
			@include breakpoint(xlarge) {
				@include xy-cell(50%, true, 6rem);	
			}
			@include breakpoint(xxlarge) {
				@include xy-cell(36%, true, 4rem);
				margin-left: 0;
			}
			
		}///.card--0

		.card--1 {
			@include breakpoint(medium) {
				@include xy-cell(42%, true, 6rem);
				margin-left: 0;
			}
			@include breakpoint(large) {
				@include xy-cell(42%, true, 4rem);
			}
			@include breakpoint(xlarge) {
				@include xy-cell(50%, true, 6rem);			
			}
			@include breakpoint(xxlarge) {
				@include xy-cell(64%, true, 2rem);
				margin-right: 0;		
			}			
		}///.card--1

		.card--2 {
			margin-bottom: 0;
		}


	// Insurance Grid
		.grid-x.insurance-grid {
			@include breakpoint(xxlarge) {
				@include xy-grid-layout(4);
			}
		}///.grid-x.insurance-grid


	// Insurance Logos
		.cell.cell--insurance {
			padding: 1.4rem 1rem;
			@include breakpoint(medium) {
				padding: 1.2rem 0.8rem;
			}
			@include breakpoint(large) {
				padding: 1.5rem 1rem;
			}
			@include breakpoint(xlarge) {
				padding: 1.5rem 1rem;
				align-self: center;			
			}
			@include breakpoint(xxlarge) {
				padding: 1.5rem 0.8rem;
			}
			
			
		}///.cell.cell--insurance


	// Header
		h3 {
			@include breakpoint(medium) {
				margin-bottom: 2rem;
			}
		}///h3


	// CTA
		.card--2 .cta {
			// Header
				h4 {
					margin-bottom: 2rem;
				}
		}///.cta


	// Button
		a.button.button--phone {
			margin-bottom: 2rem;
			border: 0px;
			@include breakpoint(medium) {
				font-size: 35px;
				margin-bottom: 1.5rem;
			}
		}


}///.facility






// SITELINK
&.sitelink {

	// Settings
		background: color($inverse);
		padding-top: 2rem;
		@include breakpoint(medium) {
			padding-bottom: 1rem;
		}
		@include breakpoint(xlarge) {
			padding-bottom: 3rem;
			padding-top: 3rem;			
		}	
		@include breakpoint(xxlarge) {
			padding-top: 4rem;
		}
		



	// Inner
		.inner {
			@include xy-grid;
		}


	// Intro
		.section-intro {
			@include xy-cell(100%, true, 2rem);
		}


	// Main Grid
		.grid-x.grid-x--insurance {
			@include breakpoint(xlarge) {
				max-width: none;			
			}
		}///.grid-x.grid-x--insurance


	// Cards
		.card--0 {
			margin-bottom: 2rem;
			@include breakpoint(medium) {
				margin-bottom: 0;
				@include xy-cell(55%, true, 2rem);
			}
			@include breakpoint(large) {
				@include xy-cell(58%, true, 4rem);
				padding: 0;
			}
			@include breakpoint(xlarge) {
				@include xy-cell(55%, true, 4rem);	
			}
			@include breakpoint(xxlarge) {
				@include xy-cell(60%, true, 4rem);
				margin-left: 0;
			}
			
		}///.card--0

		.card--1 {
			@include breakpoint(medium) {
				@include xy-cell(45%, true, 4rem);
				margin-left: 0;
			}
			@include breakpoint(large) {
				@include xy-cell(42%, true, 4rem);
			}
			@include breakpoint(xlarge) {
				@include xy-cell(45%, true, 4rem);
			}
			@include breakpoint(xxlarge) {
				@include xy-cell(40%, true, 4rem);
				margin-right: 0;		
			}			
		}///.card--1


	// Insurance Grid
		.grid-x.insurance-grid {
			@include breakpoint(xxlarge) {
				@include xy-grid-layout(4);
			}
		}///.grid-x.insurance-grid


	// Insurance Logos
		.cell.cell--insurance {
			padding: 1.4rem 1rem;
			@include breakpoint(medium) {
				padding: 1.2rem 0.8rem;
			}
			@include breakpoint(large) {
				padding: 1.5rem 1rem;
			}
			@include breakpoint(xlarge) {
				padding: 1.5rem 1rem;
				align-self: center;			
			}
			@include breakpoint(xxlarge) {
				padding: 1.5rem 0.8rem;
			}
			
			
		}///.cell.cell--insurance


	// Section-title
		h2.section-title {
			@include breakpoint(xlarge) {
				margin-bottom: 4rem;			
			}
		}///h2.section-title


	// Header
		h3 {
			@include breakpoint(medium) {
				margin-bottom: 2rem;
			}
		}///h3


	// CTA
		.cta, .card--2 .cta {
			margin: 0 auto;
			// Header
				h4 {
					margin-bottom: 2rem;
				}
		}///.cta


	// Button
		a.button.button--phone {
			margin-bottom: 2rem;
			border: 0px;
			@include breakpoint(medium) {
				margin-bottom: 0;
			}
		}


}///.facility



}///#insurance










