/*
 * Locations
 *
 * 
*/


#locations {
	
	// Settings


	// Section-Intro
		.section-intro {
			margin: 0 auto;
			@include xy-cell(100%, true, 2rem);
			@include breakpoint(large) {
				@include xy-cell(100%, true, 8rem);
				margin-bottom: 2rem;
			}
			@include breakpoint(xlarge) {
				max-width: 840px;
				margin: 0 auto;		
				margin-bottom: 3rem;
			}
			

			// Title
				h2.section-title {
					margin-bottom: 2rem;
					@include breakpoint(medium) {
						margin-bottom: 1rem;
					}
					@include breakpoint(large) {
						margin-bottom: 2rem;
					}
				}///h2

			// Paragraph
				p {
					max-width: 360px;
					margin-bottom: 2rem;
					margin-left: auto;
					margin-right: auto;
					@include breakpoint(medium) {
						max-width: none;
						margin-bottom: 1rem;
					}
					@include breakpoint(large) {
						margin-bottom: 0;
					}
					span.secondary {
						display: block;
					}///span
				}///p

		}///.section-intro


	// PARAGRAPH
		.paragraph {
			text-align: center;
			display: block;
			margin: 0 auto;
			p {
				font-size: 18px;
				font-weight: 700;
				text-align: center;
				margin-bottom: 1rem;
				@include breakpoint(large) {
					font-size: 22px;
				}
				@include breakpoint(xlarge) {
					font-size: 26px;
				}
			}
		}///.paragraph


	// OPTIONS

		// Options Grid
			.grid.grid--options {
				@include xy-grid;
				width: 100%;
				@include breakpoint(xlarge) {
					max-width: $global-width;			
				}
			}

		// Options Cards

			// Card--0
				.card.card--options.card--0 {
					padding: 0;
					@include xy-cell(100%, true, 0rem);
					overflow: visible;
					@include breakpoint(large) {
						padding: 0 4rem;
					}
					@include breakpoint(xlarge) {
						padding: 0;
						@include xy-cell(60%, true, 0rem);
					}
					@include breakpoint(xxlarge) {
						@include xy-cell(70%, true, 0rem);
					}
				}///.card--0

			// Card--1
				.card.card--options.card--1 {
					padding: 0;
					overflow: visible;
					@include xy-cell(100%, true, 0rem);
					@include breakpoint(medium) {
						@include xy-cell(100%, true, 0rem);
					}
				}///.card--1

		// Typography
			
			// cta header
				.card--cta h3 {
					font-size: 24px;
					text-align: center;
					margin-bottom: 2rem;
					@include breakpoint(medium) {
						font-size: 18px;
						text-align: left;
					}
				}


	// Carousel
		#locations-slick {
			// Settings
				padding-bottom: 1rem;
				@include breakpoint(medium) {
					@include xy-grid;
					margin: 0 1rem;
				}
				@include breakpoint(xlarge) {
					max-width: 873px;
					margin: 0 auto;
				}
				

			// List
				.slick-list {
					overflow-y: visible;
				}


			// Slick Track
				.slick-track {
					padding-bottom: 2rem;
					@include breakpoint(medium) {
						padding-bottom: 0;
					}
				}///.slick-track


			// Slide
				.slick-slide {
					margin: 0 4rem;
					&:hover {
						margin-top: 0;
						cursor: pointer;
					}
				}///.slick-slide
				.locations__slide {
					margin-top: 8px;
					border-radius: 8px;
					overflow: hidden;
					@include box-shadow(1);
					@include transition(180ms all ease);
					@include breakpoint(medium) {
						@include xy-cell(1 of 3, true, 2rem);
					}
					@include breakpoint(large) {
						@include xy-cell(1 of 3, true, 4rem);
						margin-top: 0;
					}
					@include breakpoint(xlarge) {
						@include xy-cell(1 of 3, true, 3rem);			
					}
					@include breakpoint(xxlarge) {
						@include xy-cell(1 of 3, true, 5rem);
					}
					
					&:hover {
						@include breakpoint(medium) {
							transform: translateY(-8px);
							@include box-shadow(2);
							cursor: pointer;
						}
					}///:hover

					&:nth-child(-n+3) {
						@include breakpoint(medium) {
							margin-bottom: 2rem;
						}
					}//First Three Children
					
				}///.locations__slide

			// Slide Current
				.slick-slide.slick-current .locations__slide {
					@include breakpoint(small only) {
						margin-top: 0;
						@include box-shadow(2);
					}
				}

			// Slide Image
				.slide-img {
					img {
						@include breakpoint(400px) {
							width: 100%;
						}
					}
				}///.slide-img

			// Slide Content
				.slide-content {
					padding: 1rem 10px;
					text-align: center;
				}///.slide-content

			// Slide Title
				h4.slide-title {
					font-size: 18px;
					font-weight: 600;
					text-transform: none;
					text-align: center;
					@include breakpoint(medium) {
						font-size: 16px;
					}
				}///h4

			// Slide Symbols
				.slide-symbols {
					@include xy-grid;
					margin: 0;
					margin-bottom: 1rem;
					justify-content: center;

					img {
						width: auto;
						height: 37px;
						margin: 0 0.6rem;
						@include breakpoint(medium) {
							align-self: center;
						}

						&.symbol__naatp {
							@include breakpoint(medium) {
								height: 54px;
							}
							@include breakpoint(large) {
								height: 40px;
							}
						}///img.symbol__naatp
					}///img

				}///.trust-symbols

			// Slide Button
				.slide-button {
				
					span.text {
						text-transform: uppercase;
						vertical-align: middle;
					}

					.icon {
						display: inline-block;
						margin-left: 4px;
						vertical-align: middle;
						@include box-shadow(1);
						border-radius: 100px;
						padding: 5px;
					}
				}///.slide-button

			// Dots
				.slick-dots {
			    display: block;
			    width: 100%;
			    padding: 0;
			    margin: 0;
			    margin-top: 0rem;
			    margin-bottom: 10px;
			    list-style: none;
			    text-align: center;

			    li {
			    	position: relative;
		  	    display: inline-block;
		  	    width: 10px;
		  	    height: 10px;
		  	    margin: 0 5px;
		  	    padding: 0;
		  	    cursor: pointer;
		  	    &:first-child {
		  	    	margin-left: 0;
		  	    }
		  	    &:last-child {
		  	    	margin-right: 7px;
		  	    }
			    }

			    li button {
			    	font-size: 0;
		  	    line-height: 0;
		  	    display: block;
		  	    width: 11px;
		  	    height: 11px;
		  	    padding: 5px;
		  	    cursor: pointer;
		  	    color: transparent;
		  	    border: 0;
		  	    outline: none;
		  	    background: transparent;
		  	    &:before {
		  	    	font-family: 'slick';
		    	    position: absolute;
		    	    top: 0;
		    	    left: 0;
		    	    width: 11px;
		    	    height: 11px;
		    	    content: '';
		    	    background: transparent;
		    	    border: 2px solid color($inverse, 300);
		    	    border-radius: 100px;
		    	    text-align: center;
		    	    opacity: 1;
		  	    }

		  	    &:hover,
		  	    &:focus {
		  	    	outline: none;
		  	    	&:before {
		  	    		background: color($inverse, 300);
		  	    	}///before
		  	    }///hover/focus
		  	    
			    }///li button
			    li.slick-active button:before {
			    	background: color($inverse, 300);
			    }
				
				}///.slick-dots

			// Controls
				.slick-arrow {
			    position: absolute;
			    bottom: 15px;
			    height: 39px;
			    width: 39px;
			    margin: auto 0;
			    border-radius: 50%;
			    z-index: 100;
					background: color($inverse);
					@include box-shadow(1);
					@include breakpoint(medium) {
						bottom: 50%;
						top: 50%;
					}

					&:before {
				    content: '';
						display: block;
				    position: absolute;
				    top: 2px;
				    bottom: 2px;
				    left: 0px;
				    right: 0px;
				    border-radius: 50%;
				    text-align: center;
				    background: center/11px no-repeat url(#{$imgpath}/icon/chevron.svg);
					}

				}///.slick-arrow
				.slick-prev {
					left: 5rem;
					@include breakpoint(medium) {
						left: 2rem;
					}
					&:before {
						transform: rotate(180deg);
					}
				}
				.slick-next {
					right: 5rem;
					@include breakpoint(medium) {
						right: 2rem;
					}
				}

		}///#locations-slick


}///#locations



// Modals
	.locations__modal {
		padding: 0;
		border: 0px;
		@include breakpoint(large) {
			width: 870px;
			top: 60px !important;
		}
		@include breakpoint(xlarge) {
			width: 860px;
			top: 40px !important;
		}
		@include breakpoint(xxlarge) {
			width: 880px;
			top: 30px !important;
		}
		
		
		// Frame
			.locations__modal-frame {
				border-radius: 8px;
				overflow: hidden;
			}


		// Modal Top
			.modal-top {
				display: block;
				height: 200px;
				overflow: hidden;
				@include breakpoint(medium) {
					height: 270px;
				}
				@include breakpoint(large) {
					height: 320px;			
				}
				@include breakpoint(xlarge) {
					height: 370px;			
				}
				
				
			}///.modal-top


		// Modal Image
			.modal-img {
				max-width: none;
				height: 100%;
				width: auto;
				@include breakpoint(medium) {
					width: 100%;
					height: auto;
				}
				@include breakpoint(large) {
					width: 100%;
					height: auto;
				}
			}


		// Modal Card
			.modal-card {
				@include xy-grid;
				padding: 1rem;
				@include breakpoint(medium) {
					padding: 2rem;
				}
				@include breakpoint(large) {
					padding: 2rem 3rem;
				}
			}///.modal-card


		// Modal Intro
			.modal-intro {
				@include xy-cell(100%, true, 0rem);
				text-align: center;
				@include breakpoint(medium) {
					order: 0;
					@include xy-cell(auto, true, 0rem);
					text-align: left;
				}
			}///.modal-intro

			h2 {
				font-size: 24px;
				color: color($secondary);
				font-weight: 600;
				margin-bottom: 1rem;
				line-height: 1.25;
				@include breakpoint(medium) {
					font-size: 30px;
				}
				@include breakpoint(large) {
					
				}
			}///h2

			h5 {
				font-size: 18px;
				font-weight: 600;
				margin-bottom: 2rem;
				@include breakpoint(medium) {
					margin-bottom: 1rem;
				}
			}///h5


		// Modal Symbols
			.modal-symbols {
				order: -1;
				@include xy-grid;
				@include xy-cell(100%, true, 0rem);
				justify-content: center;
				margin-bottom: 1rem;
				@include breakpoint(medium) {
					order: 0;
					@include xy-cell(shrink, true, 0rem);
					margin-bottom: 0;
					flex-flow: nowrap;
					align-self: flex-start;
				}///medium
				@include breakpoint(large) {
				}

				img {
					display: inline-block;
					width: auto;
					height: 50px;
					margin: 0 1rem;
					@include breakpoint(medium) {
						height: 75px;
					}
					@include breakpoint(large) {
						height: 65px;
						align-self: flex-end;
					}///large
				}///img
			}///.modal-symbols


		// Paragraph
			p {
				font-size: 18px;
				font-weight: 600;
				@include xy-cell(100%, true, 0rem);
				@include breakpoint(medium) {
					@include xy-cell(88%, true, 0rem);
				}
				@include breakpoint(large) {
					@include xy-cell(100%, true, 0rem);
					margin-bottom: 2rem;
				}
			}///p


		// CTA
			span.cta {
				font-size: 18px;
				font-weight: 700;
				text-align: center;
				margin-bottom: 1.5rem;
				@include xy-cell(100%, true, 6rem);
				@include breakpoint(medium) {
					@include xy-cell(100%, true, 0rem);
					font-size: 22px;
					text-align: left;
				}
				@include breakpoint(large) {
					margin-bottom: 1.5rem;
				}
			}


	}///.locations__modal








