/*
 * Offerings
 * 	Settings
*/


#offerings {
	position: relative;
	background: color($inverse, 200);
	@include breakpoint(medium only) {
		padding-top: 1rem;
	}

	// Inner
		.inner {
			@include xy-grid;
			justify-content: center;
		}


	// List-group
		.list-group {
			@include xy-cell(100%, true, 4rem);
			@include breakpoint(medium) {
				@include xy-cell(50%, true, 4rem);
			}
		}///.list-group

	// List
		.list {
			margin-bottom: 2rem;
			// ul
			ul {
				list-style-type: none;
				margin:0;
			}///ul
		}///.list


	// List Item
		ul li {
			font-weight: 700;
			margin: 1rem 0;
			line-height: 22px;
		}


	// Header
		h3 {
			color: color($secondary);
			margin-bottom: 10px;
		}///h2


	// hr
		hr {
			height: 1px;
			background-color: color($inverse, 300);
			color: color($inverse, 300);
			border-color: color($inverse, 300);
			width: 25px;
			display: block;
			margin: 1rem 0;
			@include breakpoint(large) {
				width: 50px;
				height: 2px;
			}
		}


	// More Content
		#more-offerings {
			display: none;
		}

		.more-content {
			@include xy-cell(100%, true, 4rem);
			@include breakpoint(medium) {
				@include xy-cell(100%, true, 8rem);
			}
		}


	// Button
		.button-holder {
			position: absolute;
			bottom: -25px;
			left: 0;
			right: 0;
			text-align: center;
			a.button.button--offerings {
				background-color: color($secondary);
				margin-bottom: 0;
			}///a.button

		}///.button-holder
		


	

}///#offerings