/*
 * Our Facility
 * 	Settings
*/

#ourfacility {

	// Settings
		@include breakpoint(small only) {
			padding-top: 1rem;
		}
		@include breakpoint(medium) {
			padding-top: 2rem;
		}


	// Inner
		.inner {
			@include xy-grid;
		}///.inner

	// Cards
		.card {
			padding: 0;
		}///.card

		.card.card--0 {
			align-self: center;
			@include xy-cell(100%, true, 2rem);
			margin-bottom: 2rem;
			@include breakpoint(medium) {
				@include xy-cell(50%, true, 2rem);
			}
			@include breakpoint(large) {
				@include xy-cell(50%, true, 4rem);
			}
			@include breakpoint(xlarge) {
				@include xy-cell(50%, true, 6rem);			
			}
			@include breakpoint(xxlarge) {
				@include xy-cell(50%, true, 6rem);
				margin-left: 0;
			}
			
			
		}///.card--0

		.card.card--1 {
			@include xy-cell(100%, true, 2rem);
			@include breakpoint(medium) {
				@include xy-cell(50%, true, 4rem);
			}
			@include breakpoint(large) {
				@include xy-cell(50%, true, 4rem);
			}
			@include breakpoint(xlarge) {
				@include xy-cell(50%, true, 6rem);		
			}
			@include breakpoint(xxlarge) {
				margin-right: 0;
			}
			
			
		}///.card--1


	// Header
		h3 {
			text-align: center;
			@include breakpoint(medium) {
				text-align: left;
			}
		}///h3

	// Subhead
		h2 {
			text-align: center;
			@include breakpoint(medium) {
				text-align: left;
				margin-bottom: 0;
			}
			@include breakpoint(xlarge) {
				margin-bottom: 1rem;			
			}
			
		}///h2

}///#ourfacility











