/*
 * Programs
 *
*/


#programs {

	// Settings
		background: color($inverse, 200);
		padding-top: 0rem;
		padding-bottom: 0rem;


	// Cards
		.card {
			background: transparent;
			border-radius: 0;
			box-shadow: none;
			margin-bottom: 0;
		}///.card

		.card.card--0 {
			padding: 0;
		}

		.card.card--1 {
			background: color($inverse);
			@include breakpoint(large) {
				padding: 3rem;
				padding-bottom: 2rem;
			}
			@include breakpoint(xlarge) {
				padding: 6rem 6rem 4rem 5rem;
			}
			@include breakpoint(xxlarge) {
				padding: 7rem 7rem 7rem 5rem;		
			}
			
			
		}///.card--1


	// Highlight Grid
		.card.card--0 .card__inner {
			@include xy-grid;
			@include xy-gutters(0rem);
			@include breakpoint(large) {
				margin: 0 auto;
			}	
		}


	// Highlight Cells
		.highlight {
			@include xy-cell(100%, true, 0rem);
			@include breakpoint(medium) {
				@include xy-cell(50%, true, 0rem);
			}
		}


	// Highlights
		.highlight {
			min-height: 150px;
			position: relative;
			background-color: #000;
			@include breakpoint(medium) {
				min-height: 300px;
			}
			@include breakpoint(large) {
				min-height: 200px;
			}
			@include breakpoint(xlarge) {
				min-height: 250px;			
			}
			@include breakpoint(xxlarge) {
				min-height: 280px;
			}
			
			
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.5;
			}
	

			// Images
				&--0:before {
					background: url(#{$imgpath}/programs-residential-care.jpg) no-repeat center;
					background-size: 100%;
					background-position: left center;
					@include breakpoint(large) {
						background-size: cover;
					}
				}//--0
				&--1:before {
					background: url(#{$imgpath}/programs-outpatient-care.jpg) no-repeat center;
					background-size: 107%;
					background-position: top center;
					@include breakpoint(small only) {
						background-size: 100%;
					}
					@include breakpoint(large) {
						background-size: cover;
					}
				}//--1
				&--2:before {
					background: url(#{$imgpath}/programs-treatment-model.jpg) no-repeat center;
					background-size: 100%;
					@include breakpoint(small only) {
						background-position: top center;
					}
					@include breakpoint(large) {
						background-size: cover;
					}
				}//--2
				&--3:before {
					background: url(#{$imgpath}/programs-integrated-treatment.jpg) no-repeat center;
					background-size: 100%;
					@include breakpoint(small only) {
						background-position: top center;
					}
					@include breakpoint(large) {
						background-size: cover;
					}
				}///--3

			// Hover
				&:hover {
					cursor: pointer;
					background-color: #222;
					a>h3 {
						transform: translateY(-8px);
					}
					span {
						opacity: 1;
						top: 60%;
					}
				}///:hover

		}///.highlight


	// Tabs
		#programs-tabs {
			@include breakpoint(large) {
				height: 100%;
			}

			// Image/Tab Title
				.tabs-title a {
					padding: 0;
					width: 100%;
					height: 100%;

					&:hover,
					&[aria-selected='true'] {
						background: none;
					}
				}///.tabs-title a

			// Tabs Title h3
				.tabs-title {
					h3 {
						margin: 0 auto;
						@include breakpoint(medium) {
							top: 22.5%;
						}
						@include breakpoint(large) {
							top: 40%;
						}
					}
				}///.tabs-title
		}///#programs-tabs	


	// Tab Content

		.tabs-content {
			border: 0;
			background: color($inverse);

			.tabs-panel {
				padding: 0;
			}///.tabs-panel

			// Subhead
				.tabs-panel h2 {
					@include breakpoint(xlarge) {
						font-size: 36px;
					}
					@include breakpoint(xxlarge) {
						font-size: 40px;
					}
				}///h2


		}///.tabs-content


	// Highlight Title
		.highlight h3 {
			font-size: 24px;
			position: relative;
			display: block;
			text-align: center;
			font-weight: 600;
			color: color($inverse);
			top: 38%;
			@include transition(all 180ms ease);
			@include breakpoint(medium) {
				top: 40%;
			}
			@include breakpoint(large) {
				font-size: 22px;
			}
			@include breakpoint(xlarge) {
				font-size: 26px;
			}

			// Icon
				&:after {
					content: '';
					display: inline-block;
					width: 18px;
					height: 18px;
					background-image: url(#{$imgpath}/icon/programs-plus.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 100%;
					vertical-align: middle;
					margin-left: 6px;
					@include breakpoint(medium) {
						margin-left: 10px;
					}
					@include breakpoint(large) {
						display: none;
					}
				}
		}///.highlight h3


	// Hov Text
		span {
			font-size: 18px;
			position: absolute;
			text-align: center;
			color: color($inverse);
			display: block;
			top: 90%;
			width: 100%;
			height: auto;
			opacity: 0;
			@include transition(opacity 180ms ease, top 350ms ease);
		}

}///#programs


// Reveal Modals
	.programs__modal.reveal {
		
		// Settings
			width: auto;
			margin: 0 1rem;
			padding: 2rem 1rem 1rem 1rem;
			text-align: center;
			@include breakpoint(medium) {
				@include reveal-modal-width($reveal-width);
				margin: 0 auto;
				padding: 2rem 2rem 1rem 2rem;
			}

		// Title
			h3 {
				text-align: center;
				@include breakpoint(medium) {
					text-align: left;
					font-size: 21px;
				}
			}///h3

		// Paragraph
			p {
				text-align: left;
			}///p


		// Close Button
			button.close-button {
				top: -20px;
				right: 15px;
				@include breakpoint(medium) {
					top: -18px;
					right: -18px;
				}///medium
				@include breakpoint(large) {
					top: -20px;
					right: -20px;
				}///large
			}///button


	}///.programs__modal.reveal













