/*
 * Stats
 *
*/


#stats {


	// Card
		.card.card--0 {
			padding: 0;
			text-align: center;
			@include breakpoint(medium) {
				text-align: left;
			}
		}///.card--0


	// Circles Grid
		.card.card--1 {
			padding: 0;
			overflow: visible;
		}///.card--1

		.card--circles .card__inner {
			@include xy-grid;
			justify-content: space-around;
			@include breakpoint(xlarge) {
				justify-content: space-between;			
			}
			
			
			// Circles
				
				//var
				$circle-size: 120px;
				$circle-medium: 100px;
				$circle-large: 125px;

				.circle {
					z-index: 0;
					background: transparent;
					@include xy-cell(shrink, true, 0rem);
					position: relative;
					min-height: 170px;
					min-width: 125px;
					margin-bottom: 1rem;
					@include breakpoint(medium) {
						margin-bottom: 0;
						min-height: 155px;
					}
					@include breakpoint(large) {
						min-height: 170px;
					}

					// BeforesAfters
						&:before, &:after {
							content: '';
							position: absolute;
							border-radius: 100%;
							top: 0;
							left: 0;
							width: $circle-size;
							height: $circle-size;
						}
						// White Fill
						&:before {
							background: color($inverse);
							width: 	$circle-size - 21px;
							height: $circle-size - 21px;
							left: 11px;
							top: 	11px;
							z-index: -1;
							@include breakpoint(medium) {
								left: 9px;
								top: 9px;
								width: $circle-medium - 18px;
								height: $circle-medium - 18px;
							}
							@include breakpoint(large) {
								left: 11px;
								top: 11px;
								width: $circle-large - 21px;
								height: $circle-large - 21px;
							}
						}///:before
						// White Line
						&:after {
							background: transparent;
							border: 1px solid color($inverse, 200);
							z-index: 0;
							width: $circle-size - 10px;
							height: $circle-size - 10px;
							left: 6px;
							top: 6px;
							z-index: -1;
							@include breakpoint(medium) {
								left: 5px;
								top: 5px;
								width: $circle-medium - 10px;
								height: $circle-medium - 10px;
							}
							@include breakpoint(large) {
								left: 5px;
								top: 5px;
								width: $circle-large - 8px;
								height: $circle-large - 8px;
							}
						}///:after
				
					// Strong
						strong {
							position: absolute;
							top: 44px;
							left: 38px;
							text-align: center;
							line-height: 1.25;
							font-size: 24px;
							font-weight: 600;
							@include breakpoint(medium) {
								top: 34px;
								left: 28px;
							}
							@include breakpoint(large) {
								top: 42px;
								left: 36px;
								font-size: 30px;
							}
						}///strong

				}///.circle
			
			// Canvas
				.circle {
					canvas {
						@include breakpoint(small only) {
							height: $circle-size !important;
							width: $circle-size !important;	
						}
						@include breakpoint(medium only) {
							height: $circle-medium !important;
							width: $circle-medium !important;	
						}
						@include breakpoint(large) {
							height: $circle-large !important;
							width: $circle-large !important;	
						}
					}///canvas
				}///.circle
			
			// VS
				.circle-split {
					text-align: center;
					@include xy-cell(shrink, true, 0rem);
					strong {
						position: relative;
						font-weight: 600;
						color: color($inverse);
						font-size: 24px;
						top: 48px;
						@include breakpoint(medium) {
							top: 36px;
						}
						@include breakpoint(large) {
							font-size: 30px;
						}
					}///strong
				}///.circle-split

		}///.card__inner


	// Header
		h2 {
			font-size: 24px;
			text-align: center;
			line-height: 31px;
			font-weight: 600;
			@include breakpoint(medium) {
				font-size: 18px;
				line-height: 25px;
				font-weight: 700;
				text-align: left;
			}
			@include breakpoint(large) {
				font-size: 22px;
				line-height: 35px;
			}
			@include breakpoint(xlarge) {
				font-size: 26px;
				line-height: 32px;
				margin-bottom: 2rem;	
			}
		}///h2


	// Subhead
		h5 {
			font-size: 16px;
			line-height: 32px;
			@include breakpoint(medium) {
				font-size: 14px;
				line-height: 24px;
				text-align: left;
			}
		}///h5


	// Logo & Label
		.circle__logo {
			position: absolute;
			bottom: -14px;
			left: 0px;
			width: auto;
			padding-top: 6px;
			@include breakpoint(medium) {
				max-width: 104px;
				bottom: 0px;
			}
			@include breakpoint(large) {
				max-width: none;
				width: 100%;
				bottom: -15px;
			}
		}///.circle__logo

		.circle__label {
			position: absolute;
			bottom: -15px;
			left: -10%;
			width: 120%;
			text-align: center;
			color: color($inverse);
			font-weight: 600;
			font-size: 16px;
			@include breakpoint(medium) {
				font-size: 14px;
				bottom: -10px;
				width: 96%;
				left: -6%;
			}
			@include breakpoint(large) {
				bottom: -5px;
				margin-bottom: 0;
			}
			@include breakpoint(xlarge) {
				bottom: 0px;			
			}
			
		}///.circle__label


}///#stats