/*
 * Thank You
 *
*/


#thankyou {

	// Settings
		border-bottom: 2px solid color($inverse, 300);
		margin-top: 75px;
		@include breakpoint(medium) {
			margin-top: 0;
		}
		

	// Intro
		.section-intro {
			@include xy-cell(100%, true, 2rem);
			@include breakpoint(medium) {
				@include xy-cell(100%, true, 6rem);
			}
			@include breakpoint(xlarge) {
				max-width: 900px;
				margin: 0 auto;			
			}
			
			@include breakpoint(xxlarge) {
				max-width: 1050px;			
			}
			

			// Header
				h2 {
					text-align: left;
					margin-bottom: 1rem;
					@include breakpoint(medium) {
						margin-bottom: 2rem;
					}
					@include breakpoint(xlarge) {
						font-size: 34px;			
					}
					@include breakpoint(xxlarge) {
						font-size: 40px;
					}
					
					
				}///h2

			// Paragraph
				p {
					text-align: left;
					margin-bottom: 2rem;
					@include breakpoint(large) {
						margin-bottom: 3rem;			
					}
					
				}///p
		
		}///.section-intro


}///#thankyou


// Thank YOU PAGE
	body.thankyou {

		// Nav
			#nav {
				top: 0;
			}

		// Content
			#content {
				@include breakpoint(medium) {
					margin-top: 85px;
				}
			}///#content

	}///body.thankyou




