/*
 * Treatment
 *
*/


#treatment {

	// Settings
		position: relative;
		@include breakpoint(medium) {
			padding-top: 2.5rem;
		}
		@include breakpoint(large) {
			padding-top: 3rem;
		}
		@include breakpoint(xlarge) {
			padding-top: 4rem;			
		}
	

	// Gradient Bar
		&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 10px;
				width: 100%;
				background-image: linear-gradient(135deg, #6960AB 0%, #259AD6 100%);
				z-index: -1;
				@include breakpoint(medium) {
					height: calc(100% - 10px);
				}
			}///:before


	// Background
		.bg--treatment {
			top: 0;
			left: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: -1;
			overflow: hidden;

			&:before, &:after {
					content: '';
					position: absolute;
					top: 10px;
					right:0;
					width: 100%;
					height: 100%;
					overflow: hidden;
					@include breakpoint(medium) {
						height: calc(100% - 10px);
					}
				}

			&:before {
					background-image: url(#{$imgpath}/treatment.jpg);
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;	
					@include breakpoint(medium) {
						background-position: center;
						background-size: cover;
					}
					@include breakpoint(large) {
						background-position: center;
						background-size: cover;
					}
				}

				&:after {
					background: rgba(#000, 0.6);
				}///:after
		}///.bg--assessment
			

	// Section Intro
		.section-intro {
			@include xy-cell(100%, true, 2rem);
			@include breakpoint(medium) {
				@include xy-cell(100%, true, 6rem);
			}
			@include breakpoint(large) {
				@include xy-cell(88%, true, 6rem);
				margin: 0 auto;
			}
			@include breakpoint(xlarge) {
				@include xy-cell(100%, false);		
				max-width: 944px;
			}
			
		}///.section-intro


	// Grid
		.inner.inner--treatment {
			align-items: stretch;
			@include xy-grid;
			@include breakpoint(large) {
				@include xy-grid-container(782px, 0px);
				margin: 0 auto;
			}
			@include breakpoint(xlarge) {
				@include xy-grid-container(944px, 0px);
			}
		}///.inner


	// Cards
		.card {
			text-align: center;
			padding: 0;
			@include xy-cell(100%, true, 1rem);
			@include breakpoint(350px) {
				@include xy-cell(100%, true, 2rem);	
			}	
		}///.card

		.card.card--0,
		.card.card--2 {
			@include xy-cell(100%, true, 1rem);
			@include breakpoint(350px) {
				@include xy-cell(100%, true, 2rem);	
			}
			@include breakpoint(medium) {
				@include xy-cell(40%, true, 2rem);
			}
			@include breakpoint(large) {
				@include xy-cell(40%, true, 0rem);
			}
			@include breakpoint(xlarge) {
				@include xy-cell(40%, true, 4rem);
			}
		}///card--0

		.card.card--0 {
			@include breakpoint(small only) {
				margin-bottom: 0;	
			}
			@include breakpoint(medium only) {
				margin-right: 0.25rem;
			}
			@include breakpoint(xlarge) {
				margin-left: 0;			
			}
		}///.card--0

		
		.card.card--1 {
			background: transparent;
			border-radius: 0;
			align-self: center;
			@include xy-cell(shrink, true, 0rem);
		}///card--1


		.card.card--2 {
			@include breakpoint(medium only) {
				margin-left: 0.25rem;
			}
			@include breakpoint(xlarge) {
				margin-right: 0;			
			}
		}///.card--2




		.card__inner {
			padding-top: 2rem;
		}


	// Card img
		.card__inner img {
			display: inline-block;
			height: 55px;
			margin-right: 2rem;
			margin-left: -20px;
		}///img


	// Card Header
		.card__inner h4 {
			display: inline-block;
			margin-bottom: 2.5rem;
			@include breakpoint(medium) {
				margin-bottom: 3rem;
			}
		}///h4


	// Plus Sign
		.card.card--1 {
			padding: 1rem;
			margin: 0 auto;
			@include breakpoint(medium) {
				padding: 1rem 0.5rem;
			}
			@include breakpoint(large) {
				padding: 1rem 2rem;
			}
			@include breakpoint(xlarge) {
				padding: 1rem;			
			}
			
			img {
				max-width: 28px;
				height: 28px;
				margin: 0 auto;
			}
			.card__inner {
				padding-top: 0;
			}
		}///.card.card--1


	// Lists
		ul {
			line-height: 25px;
			text-align: left;
			list-style-position: outside;
			columns: 2;
			column-gap: 0px;
			margin-bottom: 1.75rem;
			@include xy-cell(100%, true, 1rem);
			@include breakpoint(medium) {
	
			}
			@include breakpoint(xlarge) {
				@include xy-cell(100%, true, 4rem);
				margin-bottom: 2rem;
			}
			
		}///ul

		ul li {
			line-height: 30px;
			margin: 5px 0;
			padding-left: 20px;
			background: url(#{$imgpath}/icon/oval.svg) no-repeat left 8px;
			@include breakpoint(medium) {
				line-height: 26px;
			}
			@include breakpoint(xlarge) {
				background-position-y: 6px;
			}
			
		}///li

		ul:nth-child(2) li {
			margin-left: 10px;
		}///li


	// Header
		h2.section-title {
			margin: 0 1rem;
			margin-bottom: 1rem;
			line-height: 1.45;
			@include breakpoint(medium) {
				margin: 0 6rem;
			}
			@include breakpoint(large) {
				margin: 0 8rem;
				margin-bottom: 1rem;
			}
			@include breakpoint(xlarge) {
				margin-bottom: 2rem;			
			}	
		}///h2


	// Paragraph
		.section-intro p {
			color: color($inverse);
			text-align: center;
			font-weight: 600;
			margin-bottom: 2rem;
		}

}