/*
 * VOB
 *
*/



#vob {

	// Settings
		background-color: color($inverse);

	// Container
		.inner {
			@include xy-grid;
		}
	
	// Card
		.card.card--0 {
			@include xy-cell(100%, true, 2rem);
			padding: 2rem 1rem;
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08),
									0 20px 30px 0 rgba(0, 0, 0, 0.1);
			@include breakpoint(350px) {
				padding: 2rem;
			}
			@include breakpoint(medium) {
				@include xy-cell(100%, true, 4rem);
				@include xy-grid;
				justify-content: space-between;
			}
			@include breakpoint(large) {
				@include xy-cell(100%, true, 10rem);
			}
			@include breakpoint(xlarge) {
				padding: 3rem;
				padding-bottom: 2rem;
				max-width: 980px;
				margin-left: auto;
				margin-right: auto;			
			}
		}///.card--0

	// Card Piece
		.card-piece--0 {
			@include breakpoint(medium) {
				@include xy-cell(55%, true, 0rem);
			}
			@include breakpoint(xlarge) {
				@include xy-cell(64%, true, 0rem);			
			}
			
		}///.card-piece--0

		.card-piece--1 {
			@include breakpoint(medium) {
				@include xy-cell(auto, true, 0rem);
				align-self: center;
				text-align: center;
				padding: 0 1rem;
			}
		}///.card-piece--1


	// VOB Button
		a.button.button--vob {
		}

	// Header
		h4 {
			text-transform: none;
			@include breakpoint(medium) {
				text-align: left;
			}
			@include breakpoint(xlarge) {
				font-size: 26px;			
			}
			
		}

	// HR
		hr {
			display: none;
			@include breakpoint(medium) {
				display: block;
			}
		}

	// Paragraph
		p {
			@include breakpoint(medium) {
				text-align: left;
			}
		}

}///#vob