/*
 * What To Expect
 *
*/

	
#whattoexpect {

	// Grid
		.inner {
			@include xy-grid;
			@include breakpoint(large) {
				@include xy-gutters(6rem);
			}
			@include breakpoint(xlarge) {
				@include xy-gutters(10rem);
				margin: 0 auto;
			}
			
		}


	// Cards

		// Card
			.card {
				padding: 0;
				@include breakpoint(small only) {
					@include xy-cell(100%, true, 2rem);	
				}
				@include breakpoint(medium) {
					@include xy-cell(50%, false);
				}
			}///.card

		// Card--0
			.card.card--0 {
				position: relative;
				border-radius: 8px;
				background: url(#{$imgpath}/whattoexpect.jpg) no-repeat left/cover;
				min-height: 208px;
				align-self: center;
				margin-bottom: 2rem;
				@include breakpoint(medium) {
					@include xy-cell(50%, true, 2rem);
				}
				@include breakpoint(large) {
					min-height: 250px;
				}
				@include breakpoint(xlarge) {
					@include xy-cell(47%, true, 2rem);
					min-height: 360px;
				}
			}///.card--0

		// Card--1
			.card.card--1 {
				text-align: center;
				margin-bottom: 0;
				@include breakpoint(medium) {
					@include xy-cell(50%, true, 4rem);
					text-align: left;
				}///medium
				@include breakpoint(xlarge) {
					@include xy-cell(53%, true, 6rem);
					align-self: center;	
				}
				
			}///.card--1
	

	// Typography

		// Header
			h3 {
				font-size: 18px;
				@include breakpoint(xlarge) {
					font-size: 26px;			
				}
			}///h3

		// Subhead
			h2 {
				font-size: 24px;
				line-height: 32px;
				@include breakpoint(medium) {
					margin-left: 0;
					margin-right: 0;
				}
				@include breakpoint(xlarge) {
					font-size: 40px;
					line-height: 50px;			
				}
				
			}///h2

		// Paragraph
			p.card__paragraph {
				text-align: left;
			}///p


	// Video CTA
		.card--0 .video__cta {
			position: absolute;
			padding: 0.5rem;
			bottom: 1rem;
			left: 1rem;
			border-radius: 8px;
			background: color($inverse);
			@include box-shadow(1);
			@include breakpoint(350px) {
				padding: 1rem;
			}
			
			span {
				font-size: 14px;
				font-weight: 600;
				vertical-align: middle;
				@include transition(all 180ms ease);
				@include breakpoint(350px) {
					font-size: 16px;
				}
				@include breakpoint(large) {
					font-size: 18px;
					font-weight: 700;
				}
				@include breakpoint(xlarge) {
					font-size: 22px;
				}

			}///span

			&:hover {
				cursor: pointer;
				background-color: shade(color($inverse), 5%);
			}
		}///.video__cta


	// Triangle
		.video__triangle {
			width: 0;
			height: 0;
			position: absolute;
			bottom: 0;
			left: 0;
			border-bottom: 87px solid color($secondary);
			border-right: 175px solid transparent;
			@include breakpoint(large) {
				border-bottom-width: 100px;
				border-right-width: 210px;
			}
			@include breakpoint(xlarge) {
				border-bottom-width: 150px;
				border-right-width: 300px;
			}
		}


}///#whattoexpect

// Modal
	#what-video.reveal {
		line-height: 0;
	}///#what-video


// Sitelink What To Expect

	.sitelink #whattoexpect {


		// Settings


		// Grid
			.inner {
				@include breakpoint(xlarge) {
					max-width: 1150px;
					margin: 0 auto;			
				}
				@include breakpoint(xxlarge) {
					max-width: $global-width;
					margin: 0 auto;
				}
				
			}///.inner


		// Cards
			.card.card--0 {
				@include breakpoint(xxlarge) {
					@include xy-cell(50%, true, 6rem);
					margin-left: 0;
				}
				
			}
			.card.card--1 {
				@include breakpoint(large) {
					@include xy-cell(50%, true, 3rem);
				}
				@include breakpoint(xxlarge) {
					@include xy-cell(50%, true, 6rem);
					margin-right: 0;
				}
				
			}///.card--1


		// Header
			.card--1 h2 {
				@include breakpoint(xlarge only) {
					font-size: 36px;
				}
			}///h2


	}///#whattoexpect


///Sitelink What To Expect