/*
 * Whychoose
 * 	Settings
*/


#whychoose {
	
	// Settings
		background-color: color($inverse, 200);
		padding-top: 0;
		@include breakpoint(medium) {
			padding-top: 3rem;
		}
		

	// Inner
		.inner {
			@include xy-grid;
			justify-content: center;
		}


	// Cards
		.card {
			padding: 0;
			@include xy-cell(100%, true, 2rem);
			@include breakpoint(medium) {
				@include xy-cell(50%, true, 4rem);
				margin-bottom: 0;
			}
		}///.card

		.card.card--0 {
			background: transparent;
			align-self: center;
			@include breakpoint(medium) {
				margin-right: 1rem;
			}
			@include breakpoint(xlarge) {
				padding-right: 3rem;			
			}
			
		}///.card--0

		.card.card--1 {
			padding: 2rem 1rem;
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), 0 20px 30px 0 rgba(0, 0, 0, 0.1);   
			@include breakpoint(medium) {
				align-self: center;
				margin-left: 1rem;
			}
			@include breakpoint(large) {
				@include box-shadow(1);
			}
		}///.card--1


	// Lists
		ul {
			columns: 1;
			line-height: 25px;
			margin-top: 1rem;
			@include xy-cell(100%, true, 0.5rem);
			@include breakpoint(xlarge) {
				columns: 2;
				@include xy-cell(100%, true, 4rem);
				margin-bottom: 2rem;
			}
			
		}///ul

		ul li {
			background: url(#{$imgpath}/icon/expertise.svg) no-repeat left;
			background-size: 24px;
			padding-left: 40px;
			margin: 7px 0;
			line-height: 28px;
			font-weight: 700;
			-webkit-column-break-inside: avoid;
			page-break-inside: avoid;
			@include breakpoint(xlarge) {
				background: url(#{$imgpath}/icon/expertise.svg) no-repeat top left;			
			}
			
		}///li

		ul:nth-child(2) li {
			// margin-left: 10px;
		}///li


	// Header
		.card--0 h2 {
			text-align: center;
			@include breakpoint(medium) {
				text-align: left;
			}
		}///h2


}///#whychoose