{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <title>{{site.title}} | {{> keywords}}</title>
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
  {{!-- Favicons --}}
  <link rel="apple-touch-icon" sizes="180x180" href="{{root}}assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{root}}assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{root}}assets/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="{{root}}assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="{{root}}assets/img/favicons/safari-pinned-tab.svg" color="#ffffff">
  <link rel="shortcut icon" href="{{root}}assets/img/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="{{site.title}}">
  <meta name="application-name" content="{{site.title}}">
  <meta name="msapplication-config" content="{{root}}assets/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KZ4NPG5');</script>
  <!-- End Google Tag Manager -->

</head>

<body class="home">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZ4NPG5"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {{> homepage}}

    <script src="{{root}}assets/js/app.js"></script>
</body>

</html>