$font-base: '../fonts/';
$font-name: 'odin-rounded';

@font-face {
  font-family: 'Odin Rounded';
  src: url('#{$font-base}/#{$font-name}-bold.woff2') format('woff2'),
    url('#{$font-base}/#{$font-name}-bold.woff') format('woff'),
    url('#{$font-base}/#{$font-name}-bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Odin Rounded';
  src: url('#{$font-base}/#{$font-name}-light.woff2') format('woff2'),
    url('#{$font-base}/#{$font-name}-light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}
